<!-- =============== START BIOGRAPHY ================ -->
<div class="biography biography-01 bg-white-50 padding-top-110 padding-bottom-140">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="title-separator sppb-wow fadeInUp sppb-animated">
          <div class="separator">
            <svg version="1.1"
               xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="49px" height="13px" viewBox="0 0 49 13" style="enable-background:new 0 0 49 13;" xml:space="preserve">
            <style type="text/css"> .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#EBEBEB;} </style>
            <defs>
            </defs>
            <g id="XMLID_27_">
              <g id="XMLID_30_">
                <path id="XMLID_31_" class="st0" d="M17.5,6.5V0L15,0v6.5c0,1.8,0.6,3.3,1.8,4.6c1.2,1.3,2.7,1.9,4.5,1.9v-2.6
              c-1,0-1.9-0.5-2.6-1.3C18.1,8.4,17.5,7.5,17.5,6.5z M27.7,0v2.6c1,0,1.9,0.5,2.6,1.3c0.7,0.7,1.2,1.6,1.2,2.6V13l2.5,0V6.5
              c0-1.8-0.6-3.3-1.8-4.6C30.9,0.6,29.4,0,27.7,0z M23.2,13h2.5V0h-2.5V13z M36,5v3h13V5H36z M0,8h13V5H0V8z"/>
              </g>
            </g>
        </svg>
          </div>
          <h3 class="title">biography.</h3>
        </div>
      </div>

      <div class="col-sm-3 col-md-2 col-md-offset-1">
        <p>
          Lorem ipsum dolor sit amet, conse de tetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Ut enim ad minim amie veniam, quis nostrud exercitation due ullamco laboris nisi ut
          aliquip ex ea is commodo consequat. Duis aute irure dolor in reprehenderit in voluptate ve velit esse cillum dolore eu fugiat
        </p>
      </div>
      <div class="col-sm-3 col-md-2">
        <p>
          Excepteur sint occaecat cupidatat va non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          Sed ut perspiciatis unde omnis iste sta natus error sit voluptatem accusan sa tium doloremque.
        </p>
        <img src="assets/images/biography/signature-2.png" alt="Signature" class="signature">
      </div>
    </div>
  </div>
</div>
<!-- =============== END BIOGRAPHY ================ -->
