<section class="imagebg height-90" data-overlay="6">
  <div class="background-image-holder">
    <img alt="pic" src="assets/images/hero23.jpg">
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <p class="lead">Hi, I’m David, I’m a serial entrepreneur turned interactive strategist specializing in digital product development, creative direction, and marketing. My most recent project is Mylo, a men’s style advice app and staples shop.</p>
      </div>
    </div>

  </div>

</section>