<!-- =============== START FOOTER ================ -->
<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2 ct-position-bottom sppb-wow fadeInUp sppb-animated">
        <!-- =============== START WIDGET ================ -->
        <div class="widget widget-copyright no-title">
          <div class="content">
            <p>©Wephisto 2016</p>
          </div>
        </div>
        <!-- =============== END WIDGET ================ -->
        <div class="clearfix"></div>
      </div>
      <div class="col-md-2 sppb-wow fadeInUp sppb-animated" data-sppb-wow-delay="100ms">
        <!-- =============== START WIDGET ================ -->
        <div class="widget widget-subscribe">
          <h2 class="title">subscribe now</h2>
          <div class="content">
            <form class="form">
              <div class="form-group">
                <input type="email" class="form-control" placeholder="Type email here">
                <button type="submit" class="arrow-submit"><span></span></button>
              </div>
            </form>
          </div>
        </div>
        <!-- =============== END WIDGET ================ -->
        <div class="clearfix"></div>
      </div>
      <div class="col-md-2 sppb-wow fadeInUp sppb-animated">
        <!-- =============== START WIDGET ================ -->
        <div class="widget widget-social-media no-title">
          <div class="content">
            <ul>
              <li><a href="#">facebook</a></li>
              <li><a href="#">instagram</a></li>
              <li><a href="#">twitter</a></li>
            </ul>
          </div>
        </div>
        <!-- =============== END WIDGET ================ -->
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
  <div class="instagram-post" id="basic">
    <ul class="clearfix">
      <li>
        <a href="https://www.instagram.com/" target="_blank">
          <img src="assets/images/instagram/instagram-image-1.jpg" alt="instagram">
        </a>
      </li>
      <li><a href="https://www.instagram.com/" target="_blank">
        <img src="assets/images/instagram/instagram-image-2.jpg" alt="instagram">
      </a>
      </li>
      <li><a href="https://www.instagram.com/" target="_blank">
        <img src="assets/images/instagram/instagram-image-3.jpg" alt="instagram">
      </a>
      </li>
      <li><a href="https://www.instagram.com/" target="_blank">
        <img src="assets/images/instagram/instagram-image-4.jpg" alt="instagram">
      </a>
      </li>
      <li>
        <a href="https://www.instagram.com/" target="_blank">
          <img src="assets/images/instagram/instagram-image-5.jpg" alt="instagram">
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/" target="_blank">
          <img src="assets/images/instagram/instagram-image-6.jpg" alt="instagram">
        </a>
      </li>
      <li><a href="https://www.instagram.com/" target="_blank">
        <img src="assets/images/instagram/instagram-image-7.jpg" alt="instagram">
      </a>
      </li>
      <li><a href="https://www.instagram.com/" target="_blank">
        <img src="assets/images/instagram/instagram-image-8.jpg" alt="instagram">
      </a>
      </li>
      <li><a href="https://www.instagram.com/" target="_blank">
        <img src="assets/images/instagram/instagram-image-9.jpg" alt="instagram">
      </a>
      </li>
      <li>
        <a href="https://www.instagram.com/" target="_blank">
          <img src="assets/images/instagram/instagram-image-10.jpg" alt="instagram">
        </a>
      </li>
      <li>
        <a href="https://www.instagram.com/" target="_blank">
          <img src="assets/images/instagram/instagram-image-11.jpg" alt="instagram">
        </a>
      </li>
      <li><a href="https://www.instagram.com/" target="_blank">
        <img src="assets/images/instagram/instagram-image-12.jpg" alt="instagram">
      </a>
      </li>
      <li><a href="https://www.instagram.com/" target="_blank">
        <img src="assets/images/instagram/instagram-image-13.jpg" alt="instagram">
      </a>
      </li>
      <li><a href="https://www.instagram.com/" target="_blank">
        <img src="assets/images/instagram/instagram-image-14.jpg" alt="instagram">
      </a>
      </li>
    </ul>
  </div>
</div>
<!-- =============== END FOOTER ================ -->
