<section class="height-80 imagebg bg--primary" data-overlay="8">
  <div class="background-image-holder">
    <img alt="pic" src="assets/images/hero26.jpg">
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1>Combine, Edit, Deploy.</h1>
        <p class="lead">
          Building a beautiful website is simple with Pillar and Variant Page Builder
        </p>
        <div class="modal-instance modal-video-1">
          <div class="video-play-icon video-play-icon--sm modal-trigger"></div>
          <span class="h6">See How It Works</span>
          <div class="modal-container">
            <div class="modal-content bg-dark" data-width="60%" data-height="60%">
              <iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/4QUVRm4UZA4?autoplay=1"></iframe>
            </div>

          </div>

        </div>

      </div>
    </div>

  </div>

</section>