<section class="height-100 imagebg cover cover-1" data-overlay="3">
  <div class="background-image-holder  background-image-holder-top">
    <img alt="image" src="https://res.cloudinary.com/dpkpxnpsp/image/upload/v1505715418/HollywoodPrincipleColors-min_irap5d.png">
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 id="colors-copy">Colors</h1>
        <!-- <img class="logo" alt="Pillar" src="assets/images/logo-large-light.png"> -->
      </div>
      <div class="col-sm-12 text-center">
        <p class="lead">
          The new E.P. from Hollywood Principle
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center form-group">
        <!-- <div class="modal-instance modal-video-1"> -->
        <button class="btn btn--success" id="presave">
                                    <span class="btn__text" style="font-size: 16px;">
                                        <i class="socicon-spotify"></i> &nbsp; Presave to Spotify
                                    </span>
                                </button>


        <script type="text/javascript">
          var a = new XMLHttpRequest;
          a.open("GET", "https://api.fanpresave.com/dev/login/e9163850-9dd2-11e7-9296-8d9fe2c85879", !0), a.onload = function() {
            a.status >= 200 && a.status < 400 && document.getElementById("presave").addEventListener("click", function() {
              fbq('track', 'Lead', {
                value: 'presave',
              });
              window.location.href = a.responseText;
            })
          }, a.onerror = function() {}, a.send();
        </script>
      </div>
    </div>
    <div class="col-sm-12 text-center">
      <a href="#signup"><small>Dont have Spotify?</small></a>
    </div>
    <!-- </div> -->
  </div>
</section>