<section class="height-100 imagebg cover cover-1" data-overlay="3">
  <div class="background-image-holder  background-image-holder-top">
    <img alt="image" src="https://res.cloudinary.com/dpkpxnpsp/image/upload/v1505715418/HollywoodPrincipleColors-min_irap5d.png">
  </div>
  <div class="container pos-vertical-center">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h1 id="colors-copy">Colors</h1>
        <!-- <img class="logo" alt="Pillar" src="assets/images/logo-large-light.png"> -->
      </div>
      <div class="col-sm-12 text-center">
        <p class="lead">
          The new E.P. from Hollywood Principle
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 text-center form-group">
        <iframe src="https://open.spotify.com/embed?uri=spotify:album:3WOz8Nsp4qYkvk70fwZEDq" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
      </div>
      <div class="col-sm-12 text-center form-group">
        <iframe src="https://open.spotify.com/follow/1/?uri=spotify:artist:6ldZGvFDjs6KafLouTBHJ9&size=basic&theme=dark" width="150" height="28" scrolling="no" frameborder="0" style="border:none; overflow:hidden;" allowtransparency="true"></iframe>
      </div>
    </div>
    <div class="col-sm-12 text-center">
      <a href="#signup"><small>Dont have Spotify?</small></a>
    </div>
    <!-- </div> -->
  </div>
</section>