<!-- =============== START MENU ================ -->
<div id="menu-page" class="menu-01">
  <div class="button-menu-page">
    <div class="ct-spinner">
      <div class="spinner-spin">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
      </div>
    </div>
  </div>

  <div class="ct-menu">
    <div class="container">
      <ul class="ct-list-menu">
        <li>
          <a href="index.html" class="active">Home</a>
        </li>

        <li class="drop-down-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Albums</a>
          <ul>
            <li><a href="albums-01.html">Albums 01</a></li>
            <li><a href="albums-02.html">Albums 02</a></li>
            <li><a href="albums-03.html">Albums 03</a></li>
            <li><a href="albums-04.html">Albums 04</a></li>
            <li><a href="albums-05.html">Albums 05</a></li>
            <li><a href="albums-details.html">Albums Details</a></li>
          </ul>
        </li>

        <li class="drop-down-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Gallery</a>
          <ul>
            <li class="drop-down-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rectangular</a>
              <ul>
                <li><a href="gallery-rectangular-01.html">2 Column </a></li>
                <li><a href="gallery-rectangular-02.html">3 Column </a></li>
                <li><a href="gallery-rectangular-03.html">4 Column </a></li>
              </ul>
            </li>
            <li class="drop-down-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Square</a>
              <ul>
                <li><a href="gallery-square-01.html">2 Column </a></li>
                <li><a href="gallery-square-02.html">3 Column </a></li>
                <li><a href="gallery-square-03.html">4 Column </a></li>
              </ul>
            </li>
            <li class="drop-down-menu">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Masonry</a>
              <ul>
                <li><a href="gallery-masonry-01.html">2 Column </a></li>
                <li><a href="gallery-masonry-02.html">3 Column </a></li>
                <li><a href="gallery-masonry-03.html">4 Column </a></li>
              </ul>
            </li>
          </ul>
        </li>

        <li class="drop-down-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Biography</a>
          <ul>
            <li><a href="biography-01.html">Biography 01</a></li>
            <li><a href="biography-02.html">Biography 02</a></li>
            <li><a href="biography-03.html">Biography 03</a></li>
            <li><a href="biography-04.html">Biography 04</a></li>
          </ul>
        </li>

        <li class="drop-down-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events</a>
          <ul>
            <li><a href="events-01.html">Events 01</a></li>
            <li><a href="events-02.html">Events 02</a></li>
            <li><a href="events-03.html">Events 03</a></li>
          </ul>
        </li>

        <li class="drop-down-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog</a>
          <ul>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="blog-post.html">Blog Post</a></li>
          </ul>
        </li>

        <li class="drop-down-menu">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
          <ul>
            <li><a href="coming-soon.html">Coming Soon</a></li>
            <li><a href="404.html">404</a></li>
          </ul>
        </li>

        <li>
          <a href="contact.html">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- =============== END MENU ================ -->
