<!-- =============== START MUSIC PLAYER ================ -->
<div class="main-music-player sppb-wow fadeInUp">
  <div id="untold-main-player" class="jp-jplayer" data-audio-src="assets/audio/1.mp3" data-title="morning"  data-state="play"></div>
  <div id="untold-main-player-content" class="untold-main-player" role="application" aria-label="media player">
    <div class="contain">
      <div class="ct-left">
        <div class="untold-seek-bar">
          <div class="untold-play-bar">
          </div>
        </div>
      </div>
      <div class="ct-right">
        <button id="playlist-toggle" class="btn-playlist">
          <span class="span-1"></span>
          <span class="span-2"></span>
          <span class="span-3"></span>
        </button>
        <div class="ct-control">
          <div class="untold-play">
            <i class="fa fa-play"></i>
          </div>
          <div class="untold-pause">
            <i class="fa fa-pause"></i>
          </div>
        </div>
        <div class="ct-name">
          <span class="untold-title"></span>
          <span class="first-text"> is now playing</span>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- =============== END MUSIC PLAYER ================ -->

<!-- =============== START MUSIC PLAYLIST ================ -->
<div class="playlist-wrap" id="playlist-wrap">
  <div class="container">
    <div class="jp-playlist">
      <div class="columns-playlist-item">
        <div class="cl-number">
          <div class="table-center">
            <span>no</span>
          </div>
        </div>
        <div class="cl-name">
          <div class="table-center">
            <span>name</span>
          </div>
        </div>
        <div class="cl-album">
          <div class="table-center">
            <span>album</span>
          </div>
        </div>
        <div class="cl-time">
          <div class="table-center">
            <span>time</span>
          </div>
        </div>
        <div class="cl-download">
          <div class="table-center">
            <span>download</span>
          </div>
        </div>
      </div>
      <div class="row-playlist-item">
        <div class="playlist-item" data-audio="assets/audio/1.mp3" data-artist="Ariana Grande Nicki Minaj">
          <audio preload="metadata" src="assets/audio/1.mp3" title="Side To Side"></audio>
          <div class="btn-play-pause play-pause-button">
            <div class="table-center">
              <i class="number">1</i>
              <i class="fa fa-play play"></i>
            </div>
          </div>
          <div class="play-pause-button ct-name">
            <div class="table-center">
              <span>Side To Side</span>
            </div>
          </div>
          <div class="play-pause-button ct-album">
            <div class="table-center">
              <span>Side To Side</span>
            </div>
          </div>
          <div class="play-pause-button ct-time">
            <div class="table-center">
              <span class="trak-duration">0:00</span>
            </div>
          </div>
          <div class="ct-download">
            <div class="table-center">
              <ul class="links-download-album">
                <li><a href="#" class="itunes"></a></li>
                <li><a href="#" class="google"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="playlist-item" data-audio="assets/audio/2.mp3" data-artist="Bruno Mars">
          <audio preload="metadata" src="assets/audio/2.mp3" title="24K Magic"></audio>
          <div class="btn-play-pause play-pause-button">
            <div class="table-center">
              <i class="number">2</i>
              <i class="fa fa-play play"></i>
            </div>
          </div>
          <div class="play-pause-button ct-name">
            <div class="table-center">
              <span>24K Magic</span>
            </div>
          </div>
          <div class="play-pause-button ct-album">
            <div class="table-center">
              <span>24K Magic - Single</span>
            </div>
          </div>
          <div class="play-pause-button ct-time">
            <div class="table-center">
              <span class="trak-duration">0:00</span>
            </div>
          </div>
          <div class="ct-download">
            <div class="table-center">
              <ul class="links-download-album">
                <li><a href="#" class="itunes"></a></li>
                <li><a href="#" class="google"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="playlist-item" data-audio="assets/audio/3.mp3" data-artist="Calvin Harris">
          <audio preload="metadata" src="assets/audio/3.mp3" title="My Way"></audio>
          <div class="btn-play-pause play-pause-button">
            <div class="table-center">
              <i class="number">3</i>
              <i class="fa fa-play play"></i>
            </div>
          </div>
          <div class="play-pause-button ct-name">
            <div class="table-center">
              <span>My Way</span>
            </div>
          </div>
          <div class="play-pause-button ct-album">
            <div class="table-center">
              <span>My Way</span>
            </div>
          </div>
          <div class="play-pause-button ct-time">
            <div class="table-center">
              <span class="trak-duration">0:00</span>
            </div>
          </div>
          <div class="ct-download">
            <div class="table-center">
              <ul class="links-download-album">
                <li><a href="#" class="itunes"></a></li>
                <li><a href="#" class="google"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="playlist-item" data-audio="assets/audio/4.mp3" data-artist="DJ Snake Justin Bieber">
          <audio preload="metadata" src="assets/audio/4.mp3" title="Let Me Love You"></audio>
          <div class="btn-play-pause play-pause-button">
            <div class="table-center">
              <i class="number">4</i>
              <i class="fa fa-play play"></i>
            </div>
          </div>
          <div class="play-pause-button ct-name">
            <div class="table-center">
              <span>Let Me Love You</span>
            </div>
          </div>
          <div class="play-pause-button ct-album">
            <div class="table-center">
              <span>Let Me Love You</span>
            </div>
          </div>
          <div class="play-pause-button ct-time">
            <div class="table-center">
              <span class="trak-duration">0:00</span>
            </div>
          </div>
          <div class="ct-download">
            <div class="table-center">
              <ul class="links-download-album">
                <li><a href="#" class="itunes"></a></li>
                <li><a href="#" class="google"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="playlist-item" data-audio="assets/audio/5.mp3" data-artist="Drake">
          <audio preload="metadata" src="assets/audio/5.mp3" title="One Dance"></audio>
          <div class="btn-play-pause play-pause-button">
            <div class="table-center">
              <i class="number">5</i>
              <i class="fa fa-play play"></i>
            </div>
          </div>
          <div class="play-pause-button ct-name">
            <div class="table-center">
              <span>One Dance</span>
            </div>
          </div>
          <div class="play-pause-button ct-album">
            <div class="table-center">
              <span>One Dance</span>
            </div>
          </div>
          <div class="play-pause-button ct-time">
            <div class="table-center">
              <span class="trak-duration">0:00</span>
            </div>
          </div>
          <div class="ct-download">
            <div class="table-center">
              <ul class="links-download-album">
                <li><a href="#" class="itunes"></a></li>
                <li><a href="#" class="google"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="playlist-item" data-audio="assets/audio/1.mp3" data-artist="Hailee Steinfeld Grey Zedd">
          <audio preload="metadata" src="assets/audio/1.mp3" title="Starving"></audio>
          <div class="btn-play-pause play-pause-button">
            <div class="table-center">
              <i class="number">6</i>
              <i class="fa fa-play play"></i>
            </div>
          </div>
          <div class="play-pause-button ct-name">
            <div class="table-center">
              <span>Starving</span>
            </div>
          </div>
          <div class="play-pause-button ct-album">
            <div class="table-center">
              <span>Starving</span>
            </div>
          </div>
          <div class="play-pause-button ct-time">
            <div class="table-center">
              <span class="trak-duration">0:00</span>
            </div>
          </div>
          <div class="ct-download">
            <div class="table-center">
              <ul class="links-download-album">
                <li><a href="#" class="itunes"></a></li>
                <li><a href="#" class="google"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="playlist-item" data-audio="assets/audio/2.mp3" data-artist="Major Lazer Justin Bieber ">
          <audio preload="metadata" src="assets/audio/2.mp3" title="Cold Water"></audio>
          <div class="btn-play-pause play-pause-button">
            <div class="table-center">
              <i class="number">7</i>
              <i class="fa fa-play play"></i>
            </div>
          </div>
          <div class="play-pause-button ct-name">
            <div class="table-center">
              <span>Cold Water</span>
            </div>
          </div>
          <div class="play-pause-button ct-album">
            <div class="table-center">
              <span>Cold Water</span>
            </div>
          </div>
          <div class="play-pause-button ct-time">
            <div class="table-center">
              <span class="trak-duration">0:00</span>
            </div>
          </div>
          <div class="ct-download">
            <div class="table-center">
              <ul class="links-download-album">
                <li><a href="#" class="itunes"></a></li>
                <li><a href="#" class="google"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="playlist-item" data-audio="assets/audio/3.mp3" data-artist="Maroon 5 Kendrick Lamar">
          <audio preload="metadata" src="assets/audio/3.mp3" title="Don't Wanna Know"></audio>
          <div class="btn-play-pause play-pause-button">
            <div class="table-center">
              <i class="number">8</i>
              <i class="fa fa-play play"></i>
            </div>
          </div>
          <div class="play-pause-button ct-name">
            <div class="table-center">
              <span>Don't Wanna Know</span>
            </div>
          </div>
          <div class="play-pause-button ct-album">
            <div class="table-center">
              <span>Don't Wanna Know</span>
            </div>
          </div>
          <div class="play-pause-button ct-time">
            <div class="table-center">
              <span class="trak-duration">0:00</span>
            </div>
          </div>
          <div class="ct-download">
            <div class="table-center">
              <ul class="links-download-album">
                <li><a href="#" class="itunes"></a></li>
                <li><a href="#" class="google"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="playlist-item" data-audio="assets/audio/4.mp3" data-artist="Martin Garrix Bebe Rexha">
          <audio preload="metadata" src="assets/audio/4.mp3" title="In the Name of Love"></audio>
          <div class="btn-play-pause play-pause-button">
            <div class="table-center">
              <i class="number">9</i>
              <i class="fa fa-play play"></i>
            </div>
          </div>
          <div class="play-pause-button ct-name">
            <div class="table-center">
              <span>In the Name of Love</span>
            </div>
          </div>
          <div class="play-pause-button ct-album">
            <div class="table-center">
              <span>In the Name of Love</span>
            </div>
          </div>
          <div class="play-pause-button ct-time">
            <div class="table-center">
              <span class="trak-duration">0:00</span>
            </div>
          </div>
          <div class="ct-download">
            <div class="table-center">
              <ul class="links-download-album">
                <li><a href="#" class="itunes"></a></li>
                <li><a href="#" class="google"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="playlist-item" data-audio="assets/audio/5.mp3" data-artist="Shawn Mendes">
          <audio preload="metadata" src="assets/audio/5.mp3" title="Treat You Better"></audio>
          <div class="btn-play-pause play-pause-button">
            <div class="table-center">
              <i class="number">10</i>
              <i class="fa fa-play play"></i>
            </div>
          </div>
          <div class="play-pause-button ct-name">
            <div class="table-center">
              <span>Treat You Better</span>
            </div>
          </div>
          <div class="play-pause-button ct-album">
            <div class="table-center">
              <span>Treat You Better</span>
            </div>
          </div>
          <div class="play-pause-button ct-time">
            <div class="table-center">
              <span class="trak-duration">0:00</span>
            </div>
          </div>
          <div class="ct-download">
            <div class="table-center">
              <ul class="links-download-album">
                <li><a href="#" class="itunes"></a></li>
                <li><a href="#" class="google"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="playlist-item" data-audio="assets/audio/1.mp3" data-artist="Sia Kendrick Lamar">
          <audio preload="metadata" src="assets/audio/1.mp3" title="The Greatest"></audio>
          <div class="btn-play-pause play-pause-button">
            <div class="table-center">
              <i class="number">11</i>
              <i class="fa fa-play play"></i>
            </div>
          </div>
          <div class="play-pause-button ct-name">
            <div class="table-center">
              <span>The Greatest</span>
            </div>
          </div>
          <div class="play-pause-button ct-album">
            <div class="table-center">
              <span>The Greatest</span>
            </div>
          </div>
          <div class="play-pause-button ct-time">
            <div class="table-center">
              <span class="trak-duration">0:00</span>
            </div>
          </div>
          <div class="ct-download">
            <div class="table-center">
              <ul class="links-download-album">
                <li><a href="#" class="itunes"></a></li>
                <li><a href="#" class="google"></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- =============== END MUSIC PLAYLIST ================ -->
