
<script type="text/javascript" src="{{ site.github.url }}/assets/scripts/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/scripts/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/scripts/slider-horizontal/sly.min.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/scripts/smooth-scrol.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/scripts/animation.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/scripts/parallax.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/scripts/countdown.min.js"></script>

<!-- Player -->
<script type="text/javascript" src="{{ site.github.url }}/assets/scripts/player/YTPlayer.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/scripts/jquery.jplayer.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/scripts/player/jPlayer.js"></script>

<!-- Portfolios -->
<script type="text/javascript" src="{{ site.github.url }}/assets/scripts/gallery/isotope.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/scripts/gallery/jquery.shuffle.modernizr.min.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/scripts/gallery/spsimpleportfolio.js"></script>
<script type="text/javascript" src="{{ site.github.url }}/assets/scripts/gallery/featherlight.min.js"></script>

<!-- Custom -->
<script type="text/javascript" src="{{ site.github.url }}/assets/scripts/custom.js"></script>
<script>!function(){var e=document.createElement("script");e.type="text/javascript",e.async=!0,e.src="//sd.toneden.io/production/lasso.loader.js";var o=document.getElementsByTagName("script")[0];o.parentNode.insertBefore(e,o)}(),window.LassoReady=window.LassoReady||[],window.LassoReady.push(function(){window.Lasso.configure({user_id:135740})});</script>
