<section id="signup" class="cover cover-12 form--dark imagebg height-100" data-overlay="4">
  <div class="background-image-holder">
    <img alt="image" src="https://res.cloudinary.com/dpkpxnpsp/image/upload/v1505715347/HollywoodPrincipleSignup_ukftit.jpg">
  </div>
  <div class="container pos-vertical-center text-center-xs">
    <div class="row pos-vertical-align-columns">
      <div class="col-md-6 col-sm-8 col-sm-offset-2">
        <div class="form-subscribe-1 boxed boxed--lg bg--white text-center box-shadow-wide">
          <h4>Stay in the know</h4>
          <p class="lead">
            Sign up to be notified when the E.P drops
          </p>
          <form action="//hollywoodprinciple.us9.list-manage.com/subscribe/post?u=61143e36dd2b444f1dd45ad6b&amp;id=a2bc5af6eb" method="post" id="subForm" data-error="Please fill all fields correctly." data-success="Thanks for signing up! Please check your inbox for confirmation email.">
            <div class="input-with-icon">
              <label for="mce-NAME">Your Name</label>
              <i class="icon icon-Male-2"></i>
              <input id="mce-NAME" name="NAME" type="text">
            </div>
            <div class="input-with-icon">
              <label for="mce-EMAIL">Email Address</label>
              <i class="icon icon-Mail-2"></i>
              <input class="validate-required validate-email" id="mce-EMAIL" name="EMAIL" type="email" required="">
            </div>
            <button class="btn" type="submit">Subscribe Now</button>
          </form>
        </div>
      </div>
    </div>

  </div>

</section>