<section class="cover cover-10 imagebg image--light">
  <div class="background-image-holder">
    <img alt="image" src="assets/images/large11.jpg">
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <!-- <img alt="Logo" class="logo" src="assets/images/logo-large-dark.png"> -->
        <p class="lead">
          Watch the video for
          <br> "Trippin on You"
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-10 col-md-offset-1 col-sm-12 text-center">
        <div class="video-cover">
          <div class="background-image-holder">
            <img alt="image" src="assets/images/hero5.jpg">
          </div>
          <div class="video-play-icon"></div>
          <iframe allowfullscreen="allowfullscreen" src="https://player.vimeo.com/video/165428278?autoplay=1"></iframe>
        </div>
      </div>
    </div>

  </div>

</section>