.error-page {
  background: #ffffff;

  .content-page {
    min-height: 100vh;

    .playlist-item {
      &.playing {
        .ct-center {
          .subtitle {
            .play-pause-button-parent-3 {
              color: $prCol;

              span {
                &:after {
                  content: "pause";
                }
              }
            }
          }
        }
      }
    }

    .ct-center {
      top: 40%;
      left: 26px;
      right: 26px;
      position: fixed;
      text-align: center;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);

      .title {
        padding: 0;
        color: #000000;
        font-weight: 700;
        line-height: 1em;
        margin: 0 0 25px 0;
      }

      .subtitle {
        margin: 0;
        color: $scCol;
        font-weight: 500;
        line-height: 1.3em;

        .play-pause-button-parent-3 {
          color: $prCol;
          cursor: pointer;

          span {
            &:after {
              content: "play";
            }
          }
        }
      }
    }

    .ct-bottom {
      left: 26px;
      right: 26px;
      bottom: 75px;
      display: block;
      position: fixed;
      text-align: center;

      p {
        margin: 0;
        padding: 0;
        color: #000000;
        font-size: 17px;
        font-weight: 400;

        a {
          color: $prCol;
        }
      }
    }
  }

  .main-music-player {
    display: none;
  }
}