.albums {
  &.albums-01 {
    width: 100%;
    overflow: hidden;

    > .container {
      padding-top: 110px;
      padding-bottom: 25px;
    }
  }

  &.albums-02 {

  }

  &.albums-03 {
    background: $bgScCol;
    padding-top: 140px;
    padding-bottom: 60px;
  }

  &.albums-04 {

  }

  &.albums-05 {
    .project-wrap {
      > div:nth-child(2){
        z-index: 1;

        .item-album-case {
          padding: 15px;
        }
      }
    }
  }

  .item-album-disc {
    margin-bottom: 60px;

    .ct-img {
      margin: 0 auto;
      overflow: hidden;
      max-width: 300px;
      max-height: 300px;
      position: relative;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      border-radius: 50%;
      -webkit-animation: spin 3s linear 0s infinite reverse;
      -moz-animation: spin 3s linear 0s infinite reverse;
      -ms-animation: spin 3s linear 0s infinite reverse;
      -o-animation: spin 3s linear 0s infinite reverse;
      animation: spin 3s linear 0s infinite reverse;

      -webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      -ms-animation-play-state: paused;
      -o-animation-play-state: paused;
      animation-play-state: paused;
      &:hover {
        -webkit-animation-play-state: running;
        -moz-animation-play-state: running;
        -ms-animation-play-state: running;
        -o-animation-play-state: running;
        animation-play-state: running;
      }
      &:after {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 12%;
        height: 12%;
        margin: auto;
        content: " ";
        max-width: 50px;
        max-height: 50px;
        position: absolute;
        background: $bgPgCol;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
      }

      a {
        display: block;
      }

      img {
        width: 100%;
        height: 100%;
      }

      @keyframes spin {
        0% { transform: rotate(360deg); }
        100% { transform: rotate(0deg); }
      }
      $-webkit-keyframes spin {
        0% {-webkit-transform: rotate(360deg); }
        100% { -webkit-transform: rotate(0deg); }
      }
      $-ms-keyframes spin {
        0% {-ms-transform: rotate(360deg); }
        100% { -ms-transform: rotate(0deg); }
      }
      $-moz-keyframes spin {
        0% { -moz-transform: rotate(360deg); }
        100% { -moz-transform: rotate(0deg); }
      }
      $-o-keyframes spin {
        0% { -o-transform: rotate(360deg); }
        100% { -o-transform: rotate(0deg); }
      }
    }

    .ct-text {
      width: 100%;
      overflow: hidden;
      padding: 25px 15px;
      text-align: center;
      white-space: nowrap;
      word-wrap: normal;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;

      .name {
        padding: 0;
        color: #000000;
        display: block;
        font-size: 19px;
        font-weight: 500;
        margin: 0 0 8px 0;
        line-height: 1.2em;
      }

      .author {
        margin: 0;
        padding: 0;
        color: #a8a8a8;
        display: block;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.2em;
      }
    }
  }

  .item-album-case {
    margin-bottom: 60px;

    &.item-album-case-black {
      &.item-album-case-with-disc {
        .ct-img {
          img {
            box-shadow: none;
          }

          .img-disc {
            &:after {
              box-shadow: none;
              background: $bgPgCol;
            }
          }
        }
      }

      .ct-text {
        .name {
          color: $scCol;
        }
      }
    }
    &.item-album-case-with-disc {
      .ct-img {
        max-width: 200px;
        max-height: 200px;
        overflow: visible;
        position: relative;

        a {
          &:hover {
            > img {
              -webkit-transform: translateX(-50%);
              -moz-transform: translateX(-50%);
              -ms-transform: translateX(-50%);
              -o-transform: translateX(-10%);
              transform: translateX(-25%);
            }

            .img-disc {
              -webkit-transform: translateX(50%);
              -moz-transform: translateX(50%);
              -ms-transform: translateX(50%);
              -o-transform: translateX(50%);
              transform: translateX(30%);
            }
          }

          img,
          .img-disc {
            @include easy-transition(all 0.2s linear);
          }

          img {
            z-index: 5;
            position: relative;
            -moz-box-shadow: 0 0 16px rgba(0,0,0,.9);
            -webkit-box-shadow: 0 0 16px rgba(0,0,0,.9);
            box-shadow: 0 0 16px rgba(0,0,0,.9);
          }

          .img-disc {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 1;
            width: 90%;
            height: 90%;
            margin: auto;
            overflow: hidden;
            position: absolute;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            &:after {
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              z-index: 5;
              width: 18%;
              height: 18%;
              margin: auto;
              content: " ";
              max-width: 50px;
              max-height: 50px;
              position: absolute;
              background: $bgScCol;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              -moz-box-shadow: 0 0 16px rgba(0,0,0,.5) inset;
              -webkit-box-shadow: 0 0 16px rgba(0,0,0,.5) inset;
              box-shadow: 0 0 16px rgba(0,0,0,.5) inset;
            }
          }
        }
      }
    }

    .ct-img {
      margin: 0 auto;
      overflow: hidden;
      max-width: 300px;
      max-height: 300px;

      a {
        display: block;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }

    .ct-text {
      width: 100%;
      overflow: hidden;
      padding: 25px 15px;
      text-align: center;
      white-space: nowrap;
      word-wrap: normal;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;

      .name {
        padding: 0;
        width: 100%;
        color: #a8a8a8;
        display: block;
        font-size: 19px;
        font-weight: 500;
        margin: 0 0 8px 0;
        line-height: 1.2em;
      }

      .author {
        margin: 0;
        padding: 0;
        width: 100%;
        color: #6e6e6e;
        display: block;
        font-size: 15px;
        font-weight: 500;
        line-height: 1.2em;
      }
    }
  }

  .item-album-full-width {
    margin: 0;
    display: block;
    overflow: hidden;
    position: relative;
    padding-top: 220px;
    padding-bottom: 220px;
    background: transparent;

    &.item-album-no-full-height {
      min-height: inherit;
      padding-top: 145px;
      padding-bottom: 145px;
    }

    &.item-album-full-width-txt-black {
      .container {
        .ct-text {
          .title {
            color: #000000;
          }

          .tags {
            color: #a8a8a8;

            a {
              color: #a8a8a8;
              &:hover {
                color: $prCol;
              }
            }
          }

          .links-download-album {
            li {
              &:after {
                color: #a8a8a8;
              }

              a {
                color: $scCol;
              }
            }
          }
        }
      }
    }

    &.item-album-full-width-txt-white {
      .container {
        .ct-image {
          -moz-box-shadow: 0 0 16px rgba(0,0,0,.28);
          -webkit-box-shadow: 0 0 16px rgba(0,0,0,.28);
          box-shadow: 0 0 16px rgba(0,0,0,.28);
        }

        .ct-text {
          .title {
            color: #ffffff;
          }

          .tags {
            color: #ffffff;

            a {
              color: #ffffff;

              &:hover {
                color: $prCol;
              }
            }
          }

          .links-download-album {
            li {
              &:after {
                color: #a8a8a8;
              }

              a {
                color: #ffffff;
              }
            }
          }
        }
      }
    }

    &.item-album-full-width-bg-black {
      background: $bgScCol;
    }

    &.item-album-full-width-bg-white {
      background: #ffffff;

      &.white-25 {
        background: rgba(255, 255, 255, 0.25);
      }

      &.white-50 {
        background: rgba(255, 255, 255, 0.50);
      }

      &.white-75 {
        background: rgba(255, 255, 255, 0.75);
      }
    }

    &.item-album-full-width-bg-img {
      min-height: 100vh;
      background: #000000;

      .ct-bg-img {
        z-index: 0;
        min-width: 110vw;
        min-height: 150vh;
        top: -25vh !important;
        left: -5vw !important;
        position: absolute !important;
        background-position: 50% 50%;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        -webkit-filter: blur(20px);
        filter: blur(20px);
        &:before {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index: 0;
          content: "";
          height: 100%;
          display: block;
          position: absolute;
          background: rgba(0, 0, 0, 0.3);
        }
      }
    }

    .ct-bg-img {
      display: none;
    }

    .container {
      .ct-image {
        margin: 0 auto;
        max-width: 500px;
        max-height: 500px;
        position: relative;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .ct-text {
        .title {
          margin: 30px 0;
          font-weight: 600;
        }

        .tags {
          font-weight: 500;
          margin: 0 0 30px 0;
        }

        .playlist-album-min {
          margin-bottom: 25px;
        }

        .links-download-album {
          display: block;

          li {
            display: inline-block;

            &:last-child {
              &:after {
                display: none;
              }
            }

            &:after {
              content: "/";
              margin: 0 2px 0 7px;
              display: inline-block;
            }

            a {
              font-size: 16px;
              font-weight: 500;
              line-height: 1em;
              &:hover {
                color: $prCol;
              }
            }
          }
        }
      }

      .ct-details {
        margin-top: 25px;

        p {
          font-size: 15px;
        }

        ul {
          li {
            color: #a8a8a8;
            font-size: 15px;
            margin-bottom: 5px;
            &:last-child {
              margin-bottom: 0;
            }

            span {
              color: $scCol;
            }
          }
        }
      }
    }
  }
}