.blog-page {
  .container {
    .item {
      margin-bottom: 142px;

      &:last-child {
        margin-bottom: 0;
      }

      .ct-image {
        overflow: hidden;
        img {
          width: 100%;
          min-width: 100%;
        }
      }

      .ct-text {
        padding: 35px 0;
        overflow: hidden;

        .title {
          font-weight: 600;
          margin: 0 0 5px 0;
        }

        .details {
          color: $thCol;
          font-size: 1.1em;
          margin: 0 0 10px 0;
          a {
            color: $scBtCol;
            &:hover {
              color: $prBtCol;
            }
          }
        }

        .description {
          margin: 0;
          font-size: 1.1em;
          line-height: 1.7em;
        }

        .ct-button {
          margin: 25px 0 0 0;
          .btn {
            border: none;
            color: $prBtCol;
            position: relative;
            &:hover {
              color: $prBtCol;
              &:after {
                width: 13px;
              }
            }
            &:after {
              left: 0;
              width: 0;
              height: 1px;
              content: "";
              bottom: -3px;
              position: absolute;
              background: $prCol;
            }
          }
        }
      }
    }
  }
}