.coming-soon {
  z-index: 101;
  position: relative;
  background-image: url("../images/coming-soon/coming-soon-background.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  &:before {
    display: none;
  }
  &:after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    width: 100%;
    content: "";
    border: none;
    height: 100%;
    display: block;
    position: absolute;
    background: rgba(0, 0, 0, 0.6);
  }
  .content-page {
    margin: 0;
    z-index: 5;
    min-height: 100vh;
    position: relative;
    .ct-center {
      top: 50%;
      left: 26px;
      right: 26px;
      position: fixed;
      text-align: center;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      .ct-logo {
        margin-bottom: 50px;
      }
      .title {
        padding: 0;
        color: #a8a8a8;
        font-weight: 500;
        line-height: 1em;
        margin: 0 0 10px 0;
      }
      .timer {
        margin: 0;
        color: #ffffff;
        font-weight: 500;
        line-height: 1em;
      }
    }
    .ct-widgets {
      margin-top: 140px;
    }
  }
}