.events {
  &.events-01 {
    .item-event {
      position: relative;
      background: $bgScCol;
      &:hover {
        .container {
          .ct-text {
            .ct-button {
              right: 0;
            }
          }
        }
      }
      &:before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index:0;
        width: 80%;
        content: "";
        margin: 0 auto;
        max-width: 480px;
        position: absolute;
        background: transparent;
        border-left: 1px solid rgba(212, 212, 212, 0.1);
        border-right: 1px solid rgba(212, 212, 212, 0.1);
      }
      &.bg-white {
        background: transparent;
        &:before {
          border-color: #d4d4d4;
        }
        .container {
          .ct-image {
            &:before {
              background: rgba(245, 249, 252, 0.4);
            }
          }
          .ct-text {
            .ct-title {
              h2 {
                color: #040505;
              }
            }
            .ct-separator {
              background: #fafcfe;
            }
            .ct-time {
              .timer {
                color: $scCol;
              }
            }
            .ct-button {
              .btn {
                color: $scCol;
              }
            }
          }
        }
      }
      .container {
        position: relative;
        .ct-image {
          margin: 0 auto;
          max-width: 690px;
          min-height: 300px;
          position: relative;
          &:before {
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            content: "";
            height: 100%;
            display: block;
            position: absolute;
            background: rgba(0, 0, 0, 0.2);
          }
        }
        .ct-text {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          display: block;
          position: absolute;
          padding: 70px 15px 60px 15px;
          .ct-left {
            float: left;
            height: 100%;
          }
          .ct-right {
            float: right;
            height: 100%;
            max-width: 300px;
            position: relative;
          }
          .ct-title {
            max-width: 500px;
            margin: 0 0 50px 0;
            h2 {
              margin: 0;
              color: #ffffff;
              line-height: 1.18em;
            }
          }
          .ct-separator {
            height: 1px;
            width: 148px;
            opacity: 0.3;
            display: block;
            margin: 0 0 20px 0;
            background: #fafcfe;
          }
          .ct-location {
            p {
              margin: 0;
              color: #a8a8a8;
              font-size: 17px;
              font-weight: 500;
              line-height: 1.5em;
              span {
                color: $prCol;
                font-size: 21px;
                font-weight: 600;
              }
            }
          }
          .ct-time {
            text-align: right;
            .date {
              color: $prCol;
              line-height: 1em;
              margin: 0 0 5px 0;
            }
            .month {
              color: #a8a8a8;
              font-weight: 500;
              line-height: 1em;
              margin: 0 0 10px 0;
            }
            .timer {
              margin: 0;
              color: #fafcfe;
              line-height: 1em;
              font-weight: 600;
            }
          }
          .ct-button {
            bottom: 0;
            right: 150px;
            position: absolute;
            @include easy-transition(all 0.2s linear);
          }
        }
      }
    }
  }
  &.events-02 {
    &.bg-black {
      background: $bgScCol;
      &:before {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index:0;
        width: 80%;
        content: "";
        margin: 0 auto;
        max-width: 480px;
        position: absolute;
        background: transparent;
        border-left: 1px solid rgba(212, 212, 212, 0.1);
        border-right: 1px solid rgba(212, 212, 212, 0.1);
      }
      .item-event {
        .ct-time {
          .date {
            color: $prCol;
          }
          .month {
            color: #a8a8a8;
          }
        }
        .ct-details {
          .title {
            color: #ffffff;
          }
          .location {
            color: #a8a8a8;
          }
        }
        .ct-button {
          .btn {
            color: #ffffff;
          }
        }
      }
    }
    .item-event {
      display: block;
      &.hover,
      &:hover {
        .ct-button {
          .btn {
            margin-left: 0;
          }
        }
      }
      .ct-time,
      .ct-details,
      .ct-button {
        padding-top: 45px;
        padding-bottom: 45px;
      }

      .ct-time {
        text-align: center;
        .date {
          margin: 0;
          color: $prCol;
          font-weight: 600;
          line-height: 1.15em;
        }
        .month {
          margin: 0;
          color: $scCol;
          font-weight: 500;
          line-height: 1.15em;
        }
      }
      .ct-details {
        .title {
          margin: 0;
          color: $scCol;
          font-weight: 600;
          line-height: 1.15em;
        }
        .location {
          margin: 0;
          color: $scCol;
          font-weight: 500;
          line-height: 1.15em;
          span {
            color: $prCol;
          }
        }
      }
      .ct-button {
        .btn {
          color: $scCol;
          margin-left: -50px;
        }
      }
    }
  }
}