/**
 * Featherlight - ultra slim jQuery lightbox
 * Version 1.0.3 - http://noelboss.github.io/featherlight/
 *
 * Copyright 2014, Noël Raoul Bossart (http://www.noelboss.com)
 * MIT Licensed.
**/
.featherlight {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  cursor: pointer;
  z-index: 100000;
  position: fixed;
  text-align: center;
  background: #333333;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0)
}
.featherlight:last-of-type {
  background: rgba(0, 0, 0, .8)
}
.featherlight:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -.25em
}
.featherlight .featherlight-content {
  position: relative;
  text-align: left;
  vertical-align: middle;
  display: inline-block;
  overflow: auto;
  min-width: 30%;
  margin-left: 5%;
  margin-right: 5%;
  max-height: 95%;
  background: #fff;
  cursor: auto;
  white-space: normal
}
.featherlight .featherlight-inner {
  display: block;
  cursor: pointer;
}
.featherlight .featherlight-close-icon {
  top: 0;
  right: 0;
  width: 25px;
  z-index: 9999;
  color: #000000;
  cursor: pointer;
  font-weight: 800;
  line-height: 25px;
  position: absolute;
  text-align: center;
  background: #ffffff;
}

.featherlight .featherlight-image {
  width: 100%
}
.featherlight-iframe .featherlight-content {
  border-bottom: 0;
  padding: 0
}
.featherlight iframe {
  border: 0
}

@media (max-width:1024px) {
  .featherlight .featherlight-content {
    margin-left: 10px;
    margin-right: 10px;
    max-height: 98%;
  }
}



/*
# SP Portfolio - Simple Portfolio module by JoomShaper.com
# -------------------------------------------------------------
# Author    JoomShaper http://www.joomshaper.com
# Copyright (C) 2010 - 2014 JoomShaper.com. All Rights Reserved.
# $license - GNU/GPL V2 or Later
# Websites: http://www.joomshaper.com
*/

div.default ul.sp-portfolio-filter{
  list-style: none;
  padding: 0;
  margin: 0 0 20px;
}

div.default ul.sp-portfolio-filter li{
  display: inline-block;
}

div.default .btn.active{
  background-color: #ccc;
}

div.default .btn.btn-primary{
  background-color: #006dcc;
  color: #fff;
}

div.default .btn.btn-primary:hover{
  background-color: #04c;
}

div.default .col-1 {width:100%}
div.default .col-2 {width:50%}
div.default .col-3 {width:33%;}
div.default .col-4 {width:24%}
div.default .col-5 {width:20%}
div.default .col-6 {width:16%}
div.default .col-7 {width:14%}
div.default .col-8 {width:12.5%}
div.default .col-9 {width:11%}
div.default .col-10 {width:10%}
div.default{
  margin-top: 20px;
}
div.default ul.sp-portfolio-items{
  list-style: none;
  padding: 0;
  margin: -10px;
  display: block;
  position: relative;
}

div.default ul.sp-portfolio-items > li{
  background: none;
  padding: 0;
  margin: 0;
  float: left;
}

div.default .sp-portfolio-item-inner{
  margin: 10px;
}

div.default .sp-portfolio-thumb,
div.default .sp-portfolio-item-details {
  position: relative;
  overflow: hidden;
}

div.default .sp-portfolio-thumb img{
  width: 100%;
}

div.default .sp-portfolio-thumb .sp-portfolio-overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  background: rgba(0,0,0,.8);
  text-align: center;
  opacity: 0;
  -webkit-transition: opacity 300ms;
  transition: opacity 300ms;
}

div.default .sp-portfolio-thumb:hover .sp-portfolio-overlay{
  opacity: 1;
}

div.default .sp-portfolio-thumb .sp-portfolio-overlay > div{
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 100%;
  height: 30px;
  text-align: center;
}

div.default .sp-portfolio-thumb .sp-portfolio-overlay > div > a{
  margin: 0 2px;
  line-height: 30px;
  font-size: 12px;
  display: inline-block;
  background: #000;
}

div.default .sp-portfolio-loadmore{
  text-align: center;
}

div.default .btn {
  background-color:#f5f5f5;
  background-image:none;
  border:0;
  border-radius:0;
  box-shadow:none;
  color:#333;
  cursor:pointer;
  display:inline-block;
  font-size:12px;
  font-weight: 400;
  line-height:20px;
  margin-bottom:0;
  padding:4px 12px;
  text-align:center;
  text-shadow:none;
  vertical-align:middle;
  -moz-border-radius:0;
  -moz-box-shadow:none;
  -webkit-border-radius:0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

div.default .sp-portfolio-loadmore .btn{
  float: none;
  margin-top: 30px;
  padding: 0 20px;
  min-width: 100px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  color: #fff;
}
div.default .sp-portfolio-loadmore .btn.hide,
div.default .sp-portfolio-loadmore .btn .icon-spinner,
div.default .sp-portfolio-loadmore .btn.loading span{
  display: none;
}

div.default .sp-portfolio-loadmore .btn.loading .icon-spinner{
  display: block;
  font-size: 24px;
  line-height: 50px;
}

/*Isotope Animation*/
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  -ms-transition-duration: 0.8s;
  -o-transition-duration: 0.8s;
  transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property:    -moz-transform, opacity;
  -ms-transition-property:     -ms-transform, opacity;
  -o-transition-property:      -o-transform, opacity;
  transition-property:         transform, opacity;
}


.rtl .isotope .isotope-item {
  -webkit-transition-property: right, top, -webkit-transform, opacity;
  -moz-transition-property: right, top, -moz-transform, opacity;
  -ms-transition-property: right, top, -ms-transform, opacity;
  -o-transition-property: right, top, -o-transform, opacity;
  transition-property: right, top, transform, opacity;
}
/**
 * $package     SP Simple Portfolio
 *
 * $copyright   Copyright (C) 2010 - 2015 JoomShaper. All rights reserved.
 * $license     GNU General Public License version 2 or later.
 */

.gallery-untold {

}

.gallery-untold:before,
.gallery-untold:after {
  content: " ";
  display: table;
}

.gallery-untold:after {
  clear: both;
}

.gallery-untold-filter ul li.active a {
  background: transparent none repeat scroll 0 0 !important;
  border-bottom: 1px solid #000;
  border-radius: 0 !important;
  color: #333 !important;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: uppercase;
}

.gallery-untold-filter ul li a {
  background: transparent none repeat scroll 0 0 !important;
  border-radius: 0 !important;
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.gallery-untold-filter {
  margin-bottom: 90px;
}

.gallery-untold .gallery-untold-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.gallery-untold .gallery-untold-filter {
  text-align: center;
  margin-bottom: 30px;
}

.gallery-untold .gallery-untold-filter > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
}

.gallery-untold .gallery-untold-filter > ul > li {
  float: left;
  display: block;
  margin: 0 5px;
}

.gallery-untold .gallery-untold-filter > ul > li > a {
  display: block;
  padding: 5px 10px;
  background: #eee;
  color: #333;
  text-decoration: none;
  border-radius: 3px;
}

.gallery-untold .gallery-untold-filter > ul > li.active > a {
  background: #333;
  color: #fff;
}

.gallery-untold .gallery-untold-items,
.gallery-untold .gallery-untold-items-static {
  margin: -15px;
}

.gallery-untold.layout-gallery-nospace .gallery-untold-items,
.gallery-untold.layout-gallery-nospace .gallery-untold-items-static {
  margin: 0;
}

.gallery-untold.layout-gallery-nospace .gallery-untold-item,
.gallery-untold.layout-gallery-nospace .gallery-untold-item-static {
  padding: 0;
}

.gallery-untold .gallery-untold-columns-2 .gallery-untold-item,
.gallery-untold .gallery-untold-columns-2 .gallery-untold-item-static  {
  width: 50%;
}

.gallery-untold .gallery-untold-columns-3 .gallery-untold-item,
.gallery-untold .gallery-untold-columns-3 .gallery-untold-item-static {
  width: 33.3333%;
}

.gallery-untold .gallery-untold-columns-4 .gallery-untold-item,
.gallery-untold .gallery-untold-columns-4 .gallery-untold-item-static {
  width: 25%;
}

.gallery-untold .gallery-untold-item,
.gallery-untold .gallery-untold-item-static {
  float: left;
  padding: 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery-untold .gallery-untold-item .gallery-untold-overlay-wrapper,
.gallery-untold .gallery-untold-item-static .gallery-untold-overlay-wrapper {
  position: relative;
  overflow: hidden;
}

.gallery-untold .gallery-untold-item .gallery-untold-overlay-wrapper .gallery-untold-icon-video,
.gallery-untold .gallery-untold-item-static .gallery-untold-overlay-wrapper .gallery-untold-icon-video {
  display: inline-block;
  position: absolute;
  width: 48px;
  height: 48px;
  background-size: contain;
  top: 50%;
  left: 50%;
  margin-top: -24px;
  margin-left: -24px;
  z-index: 1;
}

.gallery-untold .gallery-untold-item .gallery-untold-overlay-wrapper .gallery-untold-img,
.gallery-untold .gallery-untold-item-static .gallery-untold-overlay-wrapper .gallery-untold-img {
  float: left;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.gallery-untold .gallery-untold-item .gallery-untold-overlay-wrapper .gallery-untold-overlay,
.gallery-untold .gallery-untold-item-static .gallery-untold-overlay-wrapper .gallery-untold-overlay {
  opacity: 0;
  transition: opacity 400ms;
  -webkit-transition: opacity 400ms;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  z-index: 2;
}

.gallery-untold .gallery-untold-item .gallery-untold-overlay-wrapper .gallery-untold-overlay h3,
.gallery-untold .gallery-untold-item-static .gallery-untold-overlay-wrapper .gallery-untold-overlay h3 {
  font-size: 16px;
  line-height: 1;
  margin: 0;
  color: #fff;
}

.gallery-untold .gallery-untold-item:hover .gallery-untold-overlay,
.gallery-untold .gallery-untold-item-static:hover .gallery-untold-overlay {
  opacity: 1;
}

.gallery-untold .gallery-untold-item:hover .gallery-untold-overlay a,
.gallery-untold .gallery-untold-item-static:hover .gallery-untold-overlay a {
  color: #ffffff;
}

.gallery-untold .gallery-untold-item .gallery-untold-info:hover,
.gallery-untold .gallery-untold-item-static .gallery-untold-info:hover {
  background: #333;
  color: #ffffff;
}

.gallery-untold .gallery-untold-item .gallery-untold-info:hover h3 > a,
.gallery-untold .gallery-untold-item-static .gallery-untold-info:hover h3 > a {
  color: #ffffff;
}

.gallery-untold .gallery-untold-item:hover .sp-vertical-middle .gallery-untold-title,
.gallery-untold .gallery-untold-item-static:hover .sp-vertical-middle .gallery-untold-tags,
.gallery-untold .gallery-untold-item:hover .sp-vertical-middle .gallery-untold-title,
.gallery-untold .gallery-untold-item-static:hover .sp-vertical-middle .gallery-untold-tags  {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.gallery-untold .gallery-untold-item:hover .gallery-untold-btns a,
.gallery-untold .gallery-untold-item-static:hover .gallery-untold-btns a {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}

.gallery-untold .gallery-untold-item:hover .gallery-untold-img,
.gallery-untold .gallery-untold-item-static:hover .gallery-untold-img  {
  -webkit-transform: scale3d(1.15, 1.15, 1);
  transform: scale3d(1.15, 1.15, 1);
}

.gallery-untold .gallery-untold-item .gallery-untold-info,
.gallery-untold .gallery-untold-item-static .gallery-untold-info {
  background: #f5f5f5;
  padding: 20px;
  font-size: 13px;
  line-height: 13px;
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.gallery-untold .gallery-untold-item .gallery-untold-info h3,
.gallery-untold .gallery-untold-item-static .gallery-untold-info h3 {
  margin: 0 0 10px;
  padding: 0;
  font-size: 16px;
  line-height: 16px;
}

.gallery-untold .gallery-untold-item .gallery-untold-info h3 > a,
.gallery-untold .gallery-untold-item-static .gallery-untold-info h3 > a  {
  text-decoration: none;
  color: #000;
  -webkit-transition: color 400ms;
  transition: color 400ms;
}

.gallery-untold .gallery-untold-item .sp-vertical-middle,
.gallery-untold .gallery-untold-item-static .sp-vertical-middle {
  height: 100%;
  width: 100%;
  display: table;
}

.gallery-untold .gallery-untold-item .sp-vertical-middle > div,
.gallery-untold .gallery-untold-item-static .sp-vertical-middle > div  {
  display: table-cell;
  vertical-align: middle;
}

.gallery-untold .gallery-untold-item .sp-vertical-middle > div .gallery-untold-title,
.gallery-untold .gallery-untold-item-static .sp-vertical-middle > div .gallery-untold-title {
  margin-top: 10px;
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 1px;
}

.gallery-untold .gallery-untold-item .sp-vertical-middle > div .gallery-untold-title a,
.gallery-untold .gallery-untold-item-static .sp-vertical-middle > div .gallery-untold-title a {
  text-decoration: none;
  color: #fff;
}

.gallery-untold .gallery-untold-item .sp-vertical-middle .gallery-untold-title,
.gallery-untold .gallery-untold-item-static .sp-vertical-middle .gallery-untold-title {
  opacity: 0;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.gallery-untold .gallery-untold-item .sp-vertical-middle .gallery-untold-tags,
.gallery-untold .gallery-untold-item-static .sp-vertical-middle .gallery-untold-tags {
  opacity: 0;
  -webkit-transform: translate3d(0, 15px, 0);
  transform: translate3d(0, 15px, 0);
  -webkit-transition: all 500ms;
  transition: all 500ms;
}

.gallery-untold .gallery-untold-item .gallery-untold-btns a,
.gallery-untold .gallery-untold-item-static .gallery-untold-btns a {
  display: inline-block;
  padding: 7px 12px;
  margin: 3px;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  text-decoration: none;
  text-transform: uppercase;
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0);
  -webkit-transition: all 400ms;
  transition: all 400ms;
}

.gallery-untold .gallery-untold-item .gallery-untold-btns a:hover,
.gallery-untold .gallery-untold-item-static .gallery-untold-btns a:hover {
  background: #333;
  border-color: #333;
}

.gallery-untold .gallery-untold-image {
  margin-bottom: 20px;
}

.gallery-untold .gallery-untold-description {
  width: 65%;
  float: left;
}

.gallery-untold .gallery-untold-description > h2 {
  font-size: 30px;
  line-height: 1;
  margin: 0 0 10px;
}

.gallery-untold .gallery-untold-meta {
  width: 35%;
  float: left;
  padding-left: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.gallery-untold .gallery-untold-meta > div {
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.gallery-untold .gallery-untold-meta > div:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: 0;
}

.gallery-untold .gallery-untold-meta h4 {
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 10px;
}

.gallery-untold .gallery-untold-embed {
  position: relative;
  display: block;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.gallery-untold .gallery-untold-embed iframe,
.gallery-untold .gallery-untold-embed embed,
.gallery-untold .gallery-untold-embed object,
.gallery-untold .gallery-untold-embed video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.gallery-untold-lightbox {
  display: none;
}

@media only screen and (max-width: 992px) {
  .gallery-untold .gallery-untold-items .gallery-untold-item,
  .gallery-untold .gallery-untold-items-static .gallery-untold-item-static  {
    width: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .gallery-untold .gallery-untold-description {
    width: auto;
    float: none;
    margin-bottom: 30px;
  }
  .gallery-untold .gallery-untold-meta {
    width: auto;
    float: none;
    padding-left: 0;
  }
}

@media only screen and (max-width: 480px) {
  .gallery-untold .gallery-untold-items .gallery-untold-item,
  .gallery-untold .gallery-untold-items-static .gallery-untold-item-static {
    width: 100%;
  }
}
