#header {
  z-index: 5;
  overflow: hidden;
  max-height: 100vh;
  position: relative;

  &.header-01 {
    .content-header {
      min-height: 100vh;

      .container{
        .ct-center {
          top: 50%;
          left: 0;
          right: 0;
          margin: 0;
          width: 100%;
          display: block;
          bottom: inherit;
          position: absolute;
          text-align: center;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);

          .title {
            margin: 0 0 12px 0;
          }

          .subtitle {
            color: #ffffff;
          }

          .breadcrumbs {
            li {
              a {
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }

  &.header-02 {
    &.no-icon-scroll-bottom {
      .content-header {
        .container {
          .ct-center {
            bottom: 50px;
          }
        }
      }

      .icon-scroll-bottom {
        display: none;
      }
    }

    .content-header {
      min-height: 100vh;

      .container {
        .ct-center {
          left: 0;
          right: 0;
          bottom: 170px;
          display: block;
          position: absolute;
          text-align: center;

          .title {
            margin: 0 0 12px 0;
          }
        }
      }
    }
  }

  &.header-03 {
    height: 350px;

    .background-header,
    .background-header-supra {
      height: 120%;
      top: -10% !important;
    }

    .content-header {
      height: auto;

      .container {
        padding-top: 160px;
        padding-bottom: 140px;

        .ct-center {
          .title {
            margin: 0 0 7px 0;
          }
        }
      }
    }
  }

  .background-header {
    z-index: 0;
    width: 110vw;
    height: 110vh;
    top: -5vh !important;
    left: -5vw !important;
    position: absolute !important;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    &:before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: -1;
      content: "";
      height: 100%;
      display: block;
      position: absolute;
      background: rgba(0, 0, 0, 0.23);
    }
  }

  .background-header-supra {
    z-index: 0;
    width: 110vw;
    height: 110vh;
    top: -5vh !important;
    left: -5vw !important;
    position: absolute !important;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .content-header {
    position: relative;
    .icon-scroll-bottom {
      cursor: pointer;

      .icon-first-svg {
        left: 0;
        right: 0;
        width: 22px;
        bottom: 50px;
        margin: 0 auto;
        position: absolute;
        text-align: center;
      }

      .icon-second-svg {
        left: 0;
        right: 0;
        width: 22px;
        bottom: 25px;
        margin: 0 auto;
        position: absolute;
        text-align: center;
        -webkit-animation: scroll-icon 1s infinite ease-in;
        -moz-animation: scroll-icon 1s infinite ease-in;
        -o-animation: scroll-icon 1s infinite ease-in;
        animation: scroll-icon 1s infinite ease-in;
      }
      $-webkit-keyframes scroll-icon {
        0%   {margin-bottom: 0;}
        50%  {margin-bottom: 2px;}
        100% {margin-bottom: 0;}
      }
      $-moz-keyframes scroll-icon {
        0%   {margin-bottom: 0;}
        50%  {margin-bottom: 2px;}
        100% {margin-bottom: 0;}
      }
      $-o-keyframes scroll-icon {
        0%   {margin-bottom: 0;}
        50%  {margin-bottom: 2px;}
        100% {margin-bottom: 0;}
      }
      @keyframes scroll-icon {
        0%   {margin-bottom: 0;}
        50%  {margin-bottom: 2px;}
        100% {margin-bottom: 0;}
      }
    }

    .container {
      height: 100%;
      z-index: 109;

      .ct-center {
        text-align: center;

        .title {
          margin: 0;
          padding: 0;
          color: #ffffff;
          font-weight: 700;
        }

        .subtitle {
          margin: 0;
          color: #ebebeb;
          font-weight: 400;
          line-height: 1.3em;
        }

        .breadcrumbs {
          margin: 0;
          display: block;
          text-align: center;

          li {
            color: #ebebeb;
            cursor: default;
            font-size: 15px;
            font-weight: 400;
            line-height: 1.3em;
            display: inline-block;
            &:last-child {
              &:after {
                display: none;
              }
            }

            &:after {
              padding: 0;
              color: #ffffff;
              content: "\f105";
              font-size: 0.9em;
              line-height: 1em;
              margin: 0 1px 0 6px;
              text-rendering: auto;
              background: transparent;
              font-family: "FontAwesome";
              -webkit-font-smoothing: antialiased;
              -moz-osx-font-smoothing: grayscale;
            }

            a {
              color: #ebebeb;
              font-size: 15px;
              font-weight: 400;
              line-height: 1.3em;
              &:hover {
                color: $prCol;
              }
            }
          }
        }

        .separator {
          margin-top: 35px;
        }

        .btn {
          margin-top: 35px;
        }
      }
    }
  }
}