body{
  &.playlist-full-page{
    .main-music-player {
      .untold-main-player {
        .contain {
          .ct-right{
            .ct-name {
              span {
                color: #a8a8a8;
              }
              .untold-title {
                color: $scCol;
              }
            }
            .ct-control {
              background: $scCol;
              .untold-play,
              .untold-pause {
                i {
                  color: #ffffff;
                }
              }
            }
            .btn-playlist {
              background: #ffffff;
              span {
                background: $scCol;
              }
            }
          }
        }
      }
    }
  }
}

.main-music-player {
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  display: block;
  position: fixed;
  max-height: 90px;
  background: transparent;
  @include easy-transition(all 0.2s linear);
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -o-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  &.hide-player {
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -o-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }
  &.active {
    .untold-main-player {
      .contain {
        .ct-right{
          .ct-name {
            span {
              color: #a8a8a8;
            }
            .untold-title {
              color: $scCol;
            }
          }
        }
      }
    }
  }
}

.untold-main-player {
  .contain {
    padding: 0 26px 26px 26px;
    .ct-left {
      width: 50%;
      float: left;
      height: 39px;
      display: none;
      .untold-seek-bar {
        height: 39px;
        display: block;
        cursor: pointer;
        position: relative;
        width: 100% !important;
        background: transparent;
        &:hover {
          &:before,
          .untold-play-bar {
            top: 18px;
            height: 3px;
          }
        }
        &:before,
        .untold-play-bar {
          left: 0;
          top: 19px;
          width: 100%;
          height: 1px;
          display: block;
          position: absolute;
          @include easy-transition(all 0.1s ease-in-out);
        }
        &:before {
          content: "";
          background: #ebebeb;
        }
        .untold-play-bar {
          background: $prCol;
        }
      }
    }
    .ct-right{
      width: 40%;
      float: right;
      position: relative;
      .ct-name,
      .ct-control,
      .btn-playlist {
        float: right;
      }
      .ct-name {
        right: 110px;
        height: 39px;
        overflow: hidden;
        position: absolute;
        span {
          margin: 0;
          color: #a8a8a8;
          display: inline;
          font-size: 19px;
          font-weight: 400;
          line-height: 39px;
          padding: 0 0 0 3px;
        }
        .untold-title {
          color: #ffffff;
        }
      }
      .ct-control {
        padding: 0;
        width: 39px;
        height: 39px;
        border: none;
        overflow: hidden;
        box-shadow: none;
        margin: 0 0 0 20px;
        text-align: center;
        background: #f5f9fc;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        .untold-play,
        .untold-pause {
          width: 100%;
          height: 100%;
          display: block;
          cursor: pointer;
          i {
            color: $scCol;
            font-size: 14px;
            line-height: 39px;
          }
        }
        .untold-play {
          padding-left: 4px;
        }
        .untold-pause {
          display: none;
        }
      }
      .btn-playlist {
        width: 39px;
        height: 39px;
        border: none;
        padding: 0 11px;
        overflow: hidden;
        box-shadow: none;
        margin: 0 0 0 12px;
        background: $prCol;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        span {
          width: 17px;
          height: 2px;
          display: block;
          position: relative;
          margin-bottom: 3px;
          background: #ffffff;
          @include easy-transition(all 0.2s ease-in-out);
          &:nth-child(2) {
            width: 15px;
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
        &.active {
          position: relative;
          span {
            &:first-child {
              top: 5px;
              left: 0;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              -o-transform: rotate(45deg);
              transform: rotate(45deg);
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:last-child {
              top: -5px;
              -webkit-transform: rotate(-45deg);
              -ms-transform: rotate(-45deg);
              -o-transform: rotate(-45deg);
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }
}
