/*
.project-parallax {
   padding: 0;
   margin-top: 130px;
   background: transparent;
   .pi-parallax {
     .project-item {
       padding-bottom: 200px;
       &:last-child {
         padding-bottom: 200px;
       }
       &.project-item-large {
         padding-left: 0;
         padding-right: 0;
       }
       &.project-item-medium {
         padding-left: 30px;
         padding-right: 30px;
       }
       &.project-item-small {
         padding-left: 60px;
         padding-right: 60px;
       }
       &.active {
         .ct-image {
           .link-img {
             &:after {
               filter: alpha(opacity=100);
               opacity: 1;
             }
           }
           .ct-play {
             filter: alpha(opacity=100);
             opacity: 1;
             @include easy-transition(opacity 0.2s linear);
             &:hover {
               .center {
                 .btn-play-pause {
                   .is-pause {
                     display: block;
                   }
                 }
                 .equilizer {
                   display: none;
                 }
               }
             }
             .center {
               &:before {
                 display: none;
               }
               .btn-play-pause {
                 .is-play {
                   display: none;
                 }
                 .is-pause {

                 }
               }
               .equilizer {
                 display: block;
               }
             }
           }
           .list-link {
             bottom: 25px;
             li {
               opacity: 1;
               &:nth-child(1) {.easy-transition(opacity 0.2s linear 0.2s);}
               &:nth-child(2) {.easy-transition(opacity 0.2s linear 0.23s);}
               &:nth-child(3) {.easy-transition(opacity 0.2s linear 0.26s);}
               &:nth-child(4) {.easy-transition(opacity 0.2s linear 0.29s);}
               &:nth-child(5) {.easy-transition(opacity 0.2s linear 0.32s);}
               &:nth-child(6) {.easy-transition(opacity 0.2s linear 0.35s);}
               &:nth-child(7) {.easy-transition(opacity 0.2s linear 0.38s);}
               &:nth-child(8) {.easy-transition(opacity 0.2s linear 0.41s);}
               &:nth-child(9) {.easy-transition(opacity 0.2s linear 0.44s);}
               &:nth-child(10) {.easy-transition(opacity 0.2s linear 0.47s);}
             }
           }
         }
       }
       .ct-image {
         overflow: hidden;
         position: relative;
         background: #000000;
         &:hover {
           .link-img {
             &:after {
               filter: alpha(opacity=100);
               opacity: 1;
             }
           }
           .ct-play {
             filter: alpha(opacity=100);
             opacity: 1;
             @include easy-transition(opacity 0.2s linear);
           }
           .list-link {
             bottom: 25px;
             li {
               opacity: 1;
               &:nth-child(1) {.easy-transition(opacity 0.2s linear 0.2s);}
               &:nth-child(2) {.easy-transition(opacity 0.2s linear 0.23s);}
               &:nth-child(3) {.easy-transition(opacity 0.2s linear 0.26s);}
               &:nth-child(4) {.easy-transition(opacity 0.2s linear 0.29s);}
               &:nth-child(5) {.easy-transition(opacity 0.2s linear 0.32s);}
               &:nth-child(6) {.easy-transition(opacity 0.2s linear 0.35s);}
               &:nth-child(7) {.easy-transition(opacity 0.2s linear 0.38s);}
               &:nth-child(8) {.easy-transition(opacity 0.2s linear 0.41s);}
               &:nth-child(9) {.easy-transition(opacity 0.2s linear 0.44s);}
               &:nth-child(10) {.easy-transition(opacity 0.2s linear 0.47s);}
             }
           }
         }
         .link-img {
           display: block;
           position: relative;
           img {
             width: 100%;
             min-height: 170px;
           }
           &:after {
             top: 0;
             left: 0;
             content: "";
             width: 100%;
             height: 100%;
             position: absolute;
             filter: alpha(opacity=0);
             opacity: 0;
             background-color: rgba(0, 0, 0, 0.5);
           }
         }
         .ct-play {
           top: 50%;
           left: 0;
           right: 0;
           opacity: 0;
           width: 48px;
           height: 48px;
           margin: 0 auto;
           cursor: pointer;
           position: absolute;
           text-align: center;
           -webkit-transform: translateY(-50%);
           transform: translateY(-50%);
           .center {
             z-index: 10;
             width: 100%;
             height: 100%;
             display: block;
             position: relative;
             .is-play {
               top: 0;
               left: 0;
               right: 0;
               width: 0;
               bottom: 0;
               height: 0;
               margin: auto;
               content: " ";
               position: absolute;
               border-top: 7px solid transparent;
               border-bottom: 7px solid transparent;
               border-left: 14px solid white;
               background-color: transparent;
             }
             .is-pause {
               top: 0;
               left: 0;
               right: 0;
               bottom: 0;
               width: 14px;
               height: 14px;
               margin: auto;
               display: none;
               position: absolute;
               &:after,
               &:before {
                 top: 0;
                 width: 5px;
                 height: 100%;
                 content: " ";
                 position: absolute;
                 background: $prCol;
               }
               &:before {
                 left: 0;
               }
               &:after{
                 right: 0;
               }
             }

             &:before {
               top: 0;
               left: 0;
               width: 100%;
               height: 100%;
               content: " ";
               position: absolute;
               -webkit-border-radius: 50%;
               -moz-border-radius: 50%;
               border-radius: 50%;
               border: 2px solid rgba(255, 255, 255, 0.4);
             }
             .circle-progress {
               top: 0;
               left: 0;
               right: 0;
               bottom: 0;
               position: absolute;
               canvas {
                 margin: -1px;
               }
             }
             .equilizer {
               top: 0;
               left: 0;
               right: 0;
               bottom: 0;
               width: 14px;
               height: 14px;
               margin: auto;
               display: none;
               position: absolute;
               transform: rotate(180deg);
               span {
                 width: 2px;
                 float: left;
                 max-height: 100%;
                 margin-right: 3px;
                 background: #ffffff;
                 &:nth-child(1) {
                   animation: equalize 1.25s steps(25, end) 0s infinite;
                 }
                 &:nth-child(2) {
                   animation: equalize 1.25s steps(25, end) 0.2s infinite;
                 }
                 &:nth-child(3) {
                   margin-right: 0;
                   animation: equalize 1.25s steps(25, end) 0.5s infinite;
                 }
               }
             }
             @keyframes equalize {
               0% {
                 height: 60%;
               }
               4% {
                 height: 50%;
               }
               8% {
                 height: 40%;
               }
               12% {
                 height: 100%;
               }
               16% {
                 height: 20%;
               }
               20% {
                 height: 30%;
               }
               24% {
                 height: 40%;
               }
               28% {
                 height: 10%;
               }
               32% {
                 height: 40%;
               }
               36% {
                 height: 60%;
               }
               40% {
                 height: 20%;
               }
               44% {
                 height: 40%;
               }
               48% {
                 height: 100%;
               }
               52% {
                 height: 30%;
               }
               56% {
                 height: 10%;
               }
               60% {
                 height: 30%;
               }
               64% {
                 height: 50%;
               }
               68% {
                 height: 60%;
               }
               72% {
                 height: 90%;
               }
               76% {
                 height: 100%;
               }
               80% {
                 height: 90%;
               }
               84% {
                 height: 60%;
               }
               88% {
                 height: 50%;
               }
               92% {
                 height: 60%;
               }
               96% {
                 height: 90%;
               }
               100% {
                 height: 100%;
               }
             }
           }
         }
         .list-link {
           left: 0;
           right: 0;
           z-index: 10;
           margin: 0 auto;
           bottom: -100px;
           max-width: 110px;
           position: absolute;
           text-align: center;
           li {
             opacity: 0;
             width: 26px;
             height: 26px;
             margin: 8px 3px;
             display: inline-block;
             border: 1px solid #ffffff;
             -webkit-border-radius: 50%;
             -moz-border-radius: 50%;
             border-radius: 50%;
             &:hover {
               border-color: $prCol;
             }
             a {
               width: 100%;
               height: 100%;
               color: #ffffff;
               display: block;
               font-size: 12px;
               line-height: 24px;
               text-align: center;
               i {
                 color: #ffffff;
                 font-size: 12px;
                 line-height: 24px;
               }
             }
           }
         }
       }
       .ct-text {
         padding: 10px 0;
         .title {
           margin: 0;
           padding: 0;
           color: #2c2c2c;
           font-size: 14px;
           font-weight: 700;
           text-align: center;
           text-transform: uppercase;
         }
       }
     }
   }
 }*/
