.widget {
  &.widget-bg-white {
    .title {
      color: $scCol;
    }
    &.widget-subscribe,
    &.widget-newsletter {
      .form {
        .form-group {
          margin: 0;
          &:after {
            background: #000000;
          }

          input {
            color: $scCol;
            padding-right: 50px;
            border-bottom: 1px solid #a8a8a8;
            &:focus,
            &:hover {
              border-color: #000000;
            }
          }

          button {
            top: 0;
            right: 0;
            margin: 0;
            z-index: 1;
            padding: 0;
            width: 40px;
            bottom: 1px;
            border: none;
            display: block;
            box-shadow: none;
            position: absolute;
            line-height: 1.3em;
            border-radius: inherit;
            background: transparent;
            &:hover {
              right: -3px;
              &:before {
                width: 15px;
              }
              &:after {
                right: 10px;
              }
            }
            &:before {
              top: 19px;
              left: 15px;
              width: 10px;
              height: 1px;
              float: left;
              content: "";
              position: absolute;
              background: $prCol;
            }
            &:after {
              top: 17px;
              right: 15px;
              width: 5px;
              height: 5px;
              float: left;
              content: "";
              position: absolute;
              border-top: 1px solid $prCol;
              border-right: 1px solid $prCol;
              transform: rotate(54deg) skew(20deg);
            }
          }
        }
      }
    }
  }

  &.widget-all-white {
    .title {
      color: #a8a8a8;
    }
  }

  &.no-title {
    padding-top: 55px;
    .content {
      padding: 11px 0;
    }
  }

  &.widget-copyright {

  }

  &.widget-subscribe,
  &.widget-newsletter {
    .form {
      .form-group {
        margin: 0;
        width: 100%;
        position: relative;
        &:hover {
          &:after {
            width: 100%;
          }
        }
        &:after {
          left: 0;
          width: 0;
          bottom: 0;
          float: left;
          height: 1px;
          content: "";
          position: absolute;
          background: #ffffff;
        }

        input {
          font-size: 1em;
          padding-right: 50px;
          border-bottom: 1px solid #6e6e6e;
          &:focus,
          &:hover {
            border-color: #ffffff;
          }
        }

        button {
          top: 0;
          right: 0;
          margin: 0;
          z-index: 1;
          padding: 0;
          width: 40px;
          bottom: 1px;
          border: none;
          display: block;
          box-shadow: none;
          position: absolute;
          line-height: 1.3em;
          border-radius: inherit;
          background: transparent;
          &:hover {
            right: -3px;
            &:before {
              width: 15px;
            }
            &:after {
              right: 10px;
            }
          }
          &:before {
            top: 19px;
            left: 15px;
            width: 10px;
            height: 1px;
            float: left;
            content: "";
            position: absolute;
            background: #ffffff;
          }
          &:after {
            top: 17px;
            right: 15px;
            width: 5px;
            height: 5px;
            float: left;
            content: "";
            position: absolute;
            border-top: 1px solid #ffffff;
            border-right: 1px solid #ffffff;
            transform: rotate(54deg) skew(20deg);
          }
        }
      }
    }
  }

  &.widget-social-media {
    .content {
      text-align: right;
      ul {
        li {
          display: inline-block;
          &:first-child {
            &:before {
              display: none;
            }
          }
          &:before {
            content: "/";
            color: #292c2e;
            margin: 0 13px 0 11px;
            display: inline-block;
          }
          a {
            color: $txFtCol;
            font-size: 1em;
            font-weight: 500;
            position: relative;
            &:hover {
              color: $txFtColHo;
              &:after {
                width: 13px;
              }
            }
            &:after {
              left: 0;
              width: 0;
              bottom: 0;
              height: 1px;
              content: "";
              position: absolute;
              background: $txFtCol;
            }
          }
        }
      }
    }
  }


  &.widget-follow-me {
    .content {
      ul {
        display: block;
        text-align: center;
        li {
          width: 26px;
          height: 26px;
          margin: 8px 6px 0 6px;
          display: inline-block;
          background: transparent;
          a {
            width: 100%;
            height: 100%;
            display: block;
            text-align: center;
            background: transparent;
            border: 1px solid #6d6d6d;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            @include easy-transition(all 0.2s linear);
            &:hover {
              border-color: #ffffff;
              .fa {
                color: #ffffff;
                &.fa-twitter {
                  background: #55acee;
                }
                &.fa-facebook {
                  background: #3b5998;
                }
                &.fa-apple {
                  background: #da74e5;
                }
                &.fa-youtube-play {
                  background: #cd201f;
                }
                &.fa-google {
                  background: #e29842;
                }
                &.fa-spotify {
                  background: #00e461;
                }
                &.fa-soundcloud {
                  background: #ff5500;
                }
              }
            }
            .fa {
              color: #6d6d6d;
              display: block;
              font-size: 14px;
              line-height: 24px;
              -webkit-border-radius: 50%;
              -moz-border-radius: 50%;
              border-radius: 50%;
              @include easy-transition(all 0.2s linear);
              &:after,
              &:before {
                @include easy-transition(all 0s linear);
              }
            }
          }
        }
      }
    }
  }




  .title {
    padding: 0;
    color: #dddbdb;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    margin: 11px 0 25px 0;
  }
  .content {
    p {
      margin: 0;
      color: $txFtCol;
      font-size: 1em;
    }
  }
}