.btn {
  margin: 0;
  height: auto;
  border: none;
  cursor: pointer;
  font-size: 17px;
  box-shadow: none;
  line-height: 1em;
  font-weight: 500;
  border-radius: 0;
  position: relative;
  text-align: center;
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
  background: transparent;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  @include easy-transition(all 0.3s linear);
}

.btn-default,
.btn-primary,
.btn-secondary,
.btn-third,
.btn-forth,
.btn-success,
.btn-info,
.btn-warning,
.btn-danger {
  outline: none;
  color: #ffffff;
  padding: 10px 14px;
}
.btn-default:active,
.btn-primary:active,
.btn-secondary:active,
.btn-third:active,
.btn-forth:active,
.btn-success:active,
.btn-info:active,
.btn-warning:active,
.btn-danger:active,
.btn-default.active,
.btn-primary.active,
.btn-secondary.active,
.btn-third.active,
.btn-forth.active,
.btn-success.active,
.btn-info.active,
.btn-warning.active,
.btn-danger.active {
  box-shadow: none;
  outline: none !important;
}


.btn-default {
  border: 0;
  color: #ffffff;
  background: rgba(0,0,0,0.3);
}
.btn-default:hover {
  color: #ffffff;
  background: rgba(0,0,0,0.8);
}


.btn-primary {
  min-width: 95px;
  &.btn-txt-black {
    color: $scCol;
    &:focus {
      color: $scCol;
    }
    &:hover,
    &:active,
    &.active {
      color: $scCol;
    }
  }
  &:after {
    left: 0;
    right: 0;
    bottom: 0;
    height: 5px;
    content: "";
    display: block;
    position: absolute;
    background: $prCol;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    .easy-transition(all 0.1s linear)
  }
  &:focus {
    color: #ffffff;
  }
  &:hover,
  &:active,
  &.active {
    color: #ffffff;
    background: transparent;
    &:after {
      left: -3px;
      right: -3px;
      height: 3px;
    }
  }
}


.btn-success {
  background: #2ecc71;
  border-color: #2ecc71;
}
.btn-success:hover,
.btn-success:active,
.btn-success.active {
  color: #2ecc71;
  background: #ffffff;
  border-color: #2ecc71;
}


.btn-info {
  background: #3498db;
  border-color: #3498db;
}
.btn-info:hover,
.btn-info:active,
.btn-info.active {
  color: #3498db;
  background: #ffffff;
  border-color: #3498db;
}


.btn-warning {
  background: #f1c40f;
  border-color: #f1c40f;
}
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active {
  color: #f1c40f;
  background: #ffffff;
  border-color: #f1c40f;
}


.btn-danger {
  background: #e74c3c;
  border-color: #e74c3c;
}
.btn-danger:hover,
.btn-danger:active,
.btn-danger.active {
  color: #e74c3c;
  background: #ffffff;
  border-color: #e74c3c;
}

.btn-link {
  padding: 0;
  color: inherit;
  border: none;
  position: relative;
  background: transparent;
  &:before {
    left: 50%;
    right: 50%;
    bottom: 0;
    height: 1px;
    content: "";
    display: block;
    position: absolute;
    background: #4aa3df;
    @include easy-transition(all 0.3s linear);
  }
}
.btn-link:hover,
.btn-link:active,
.btn-link.active {
  color: #4aa3df;
  &:before {
    left: 0;
    right: 0;
  }
}

.svg-wrapper {
  padding: 0;
  width: 170px;
  border: none;
  margin: 0 auto;
  display: block;
  overflow: hidden;
  position: relative;
  text-align: center;
  background: transparent;
  &.white {
    .text {
      color: #ffffff;
    }
  }
  &:hover {
    .shape {
      stroke-dasharray: 640;
      stroke-dashoffset: 180;
      stroke-width: 2px;
    }
    .text {
      color: #ffffff;
    }
  }
  .shape {
    stroke: $prCol;
    fill: transparent;
    stroke-width: 5px;
    stroke-linecap: round;
    stroke-dasharray: 120 340;
    stroke-dashoffset: -230;
    -webkit-transition: all 0.5s, stroke-width 0.3s;
    -moz-transition: all 0.5s, stroke-width 0.3s;
    -o-transition: all 0.5s, stroke-width 0.3s;
    transition: all 0.5s, stroke-width 0.3s;
  }
  .text {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    color: $scCol;
    font-size: 17px;
    font-weight: 500;
    line-height: 38px;
    position: absolute;
    &:before {
      top: 0;
      left: 0;
      right: 0;
      z-index: -1;
      content: "";
      height: 0.01%;
      color: #ffffff;
      position: absolute;
      background: $prCol;
      clip: rect(auto, auto, auto, auto);
      @include easy-transition(all 0.2s linear 0.2s);
    }
  }
}
button[type="submit"].svg-wrapper .text {
  &:before {
    z-index: 1;
    content: "send";
  }
}