@font-face {
  font-family: Visby;
  src: url(../fonts/visby/VisbyCF-HeavyOblique.otf);
  font-weight: 900;
}
@font-face {
  font-family: Visby;
  src: url(../fonts/visby/VisbyCF-Heavy.otf);
  font-weight: 900;
}
@font-face {
  font-family: Visby;
  src: url(../fonts/visby/VisbyCF-ExtraBoldOblique.otf);
  font-weight: 800;
}
@font-face {
  font-family: Visby;
  src: url(../fonts/visby/VisbyCF-ExtraBold.otf);
  font-weight: 800;
}
@font-face {
  font-family: Visby;
  src: url(../fonts/visby/VisbyCF-BoldOblique.otf);
  font-weight: 700;
}
@font-face {
  font-family: Visby;
  src: url(../fonts/visby/VisbyCF-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: Visby;
  src: url(../fonts/visby/VisbyCF-DemiBoldOblique.otf);
  font-weight: 600;
}
@font-face {
  font-family: Visby;
  src: url(../fonts/visby/VisbyCF-DemiBold.otf);
  font-weight: 600;
}
@font-face {
  font-family: Visby;
  src: url(../fonts/visby/VisbyCF-MediumOblique.otf);
  font-weight: 500;
}
@font-face {
  font-family: Visby;
  src: url(../fonts/visby/VisbyCF-Medium.otf);
  font-weight: 500;
}
@font-face {
  font-family: Visby;
  src: url(../fonts/visby/VisbyCF-RegularOblique.otf);
  font-weight: 400;
}
@font-face {
  font-family: Visby;
  src: url(../fonts/visby/VisbyCF-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: Visby;
  src: url(../fonts/visby/VisbyCF-LightOblique.otf);
  font-weight: 300;
}
@font-face {
  font-family: Visby;
  src: url(../fonts/visby/VisbyCF-Light.otf);
  font-weight: 300;
}
@font-face {
  font-family: Visby;
  src: url(../fonts/visby/VisbyCF-ThinOblique.otf);
  font-weight: 100;
}
@font-face {
  font-family: Visby;
  src: url(../fonts/visby/VisbyCF-Thin.otf);
  font-weight: 100;
}