ul , li , a  , span , hr , input , textarea , button, :after, :before {
  @include easy-transition(all 0.2s linear);
}

html {
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  color: $scCol;
  font-size: 14px;
  font-weight: 500;
  position: relative;
  letter-spacing: 1px;
  line-height: 1.35em;
  background: $bgPgCol;
  font-family: "Visby", Arial, sans-serif;

  &:before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    z-index: -1;
    content: "";
    margin: 0 auto;
    max-width: 480px;
    position: absolute;
    background: transparent;
    border-left: 1px solid #d4d4d4;
    border-right: 1px solid #d4d4d4;
  }

  &.content-white {
    .logo-page {
      .logo-white {
        display: none;
      }
      .logo-black {
        display: block;
      }
    }

    #menu-page {
      .button-menu-page {
        .ct-spinner {
          .spinner-spin {
            .spinner {
              background-color: #000000;
            }
          }
        }
      }
    }

    #menu-page.menu-02 {
      .button-menu-page {
        .ct-spinner {
          .spinner-spin {
            .spinner {
              background-color: #000000;
            }
          }
        }
      }
    }
  }

  &.content-black,
  &.content-always-black {

  }

  &.menu-page-active,
  &.playlist-full-page {
    .logo-page {
      .logo-white {
        display: none;
      }
      .logo-black {
        display: block;
      }
    }

    #menu-page {
      .button-menu-page {
        .ct-spinner {
          .spinner-spin {
            .spinner {
              background-color: #000000;
            }
          }
        }
      }
    }
  }

  .loading-fast {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    content: " ";
    position: fixed;
    z-index: 10000000;
    background: #ffffff;
    @include easy-transition(all 0.2s linear);
  }
}

img {
  max-width: 100%;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style:none;
}

a ,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

a {
  color: $scCol;
  text-decoration: none;
  outline: none !important;
  @include easy-transition(all 0.2s linear);
  &:hover {
    color: $prCol;
    text-decoration: none;
  }
  &:focus,
  &:active {
    color: $scCol;
    text-decoration: none;
    outline: none !important;
  }
}




/* Typography */
h1, h2, h3, h4, h5, h6 {
  color: $scCol;
  margin: 15px 0;
  font-weight: 600;
  line-height: 1em;
}

h1 {font-size: 92px;}
h2 {font-size: 55px;}
h3 {font-size: 32px;}
h4 {font-size: 19px;}
h5 {font-size: 17px;}
h6 {font-size: 15px;}

p {
  color: $scCol;
  font-size: 1em;
  font-weight: 500;
  margin: 0 0 30px 0;
  line-height: 1.7em;
  a {
    color: $prCol;
    border-bottom: 1px solid transparent;
    &:hover {
      color: $prCol;
      border-color: $prCol;
      text-decoration: none;
    }
  }
}

blockquote {
  padding: 0;
  border: none;
  color: $scCol;
  font-size: 1em;
  font-weight: 500;
  margin: 0 0 30px 0;
  font-style: italic;
  line-height: 1.7em;
}

b, strong {
  font-weight: 700;
}


/* Form */
input ,
button ,
textarea,
input:focus ,
button:focus ,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}

input[type="tel"],
input[type="text"],
input[type="email"],
input[type="search"],
input[type="number"],
input[type="password"] {
  margin: 0;
  width: 100%;
  border: none;
  height: 40px;
  color: #6e6e6e;
  font-size: 1em;
  padding: 0 10px;
  font-weight: 500;
  box-shadow: none;
  line-height: 1.3em;
  border-radius: inherit;
  background: transparent;
  border-bottom: 1px solid #6e6e6e;
  @include easy-transition(all 0.3s linear);
  &:focus,
  &:hover {
    border-color: #000000;
  }
}

textarea {
  margin: 0;
  border: none;
  color: #6e6e6e;
  font-size: 1em;
  padding: 11px 10px;
  min-height: 40px;
  font-weight: 500;
  box-shadow: none;
  line-height: 1.3em;
  width: 100% !important;
  border-radius: inherit;
  background: transparent;
  border-bottom: 1px solid #6e6e6e;
  @include easy-transition(all 0.3s linear);
  &:focus,
  &:hover {
    border-color: #000000;
  }
}

.form-input {
  width: 100%;
  position: relative;
  margin-bottom: 26px;
  &:hover {
    &:after {
      width: 100%;
    }
  }

  &:after {
    left: 0;
    width: 0;
    bottom: 0;
    float: left;
    height: 1px;
    content: "";
    position: absolute;
    background: #000000;
  }
}

.form-group {
  width: 100%;
  position: relative;
  margin-bottom: 26px;
  &:hover {
    &:after {
      width: 100%;
    }
  }

  &:after {
    left: 0;
    width: 0;
    bottom: 0;
    float: left;
    height: 1px;
    content: "";
    position: absolute;
    background: #000000;
  }

  input,
  textarea {
    padding-right: 50px;
    &:focus {
      border-color: #000000;
    }
  }

  button {
    top: 0;
    right: 0;
    margin: 0;
    z-index: 1;
    padding: 0;
    width: 40px;
    bottom: 1px;
    height: 39px;
    border: none;
    display: block;
    box-shadow: none;
    position: absolute;
    line-height: 1.3em;
    border-radius: inherit;
    background: transparent;
    &:hover {
      right: -3px;
      &:before {
        width: 15px;
      }
      &:after {
        right: 10px;
      }
    }
    &:before {
      top: 19px;
      left: 15px;
      width: 10px;
      height: 1px;
      float: left;
      content: "";
      position: absolute;
      background: $prCol;
    }
    &:after {
      top: 17px;
      right: 15px;
      width: 5px;
      height: 5px;
      float: left;
      content: "";
      position: absolute;
      border-top: 1px solid $prCol;
      border-right: 1px solid $prCol;
      transform: rotate(54deg) skew(20deg);
    }
  }
}



.hidden-element {
  display: none !important;
}

.container {
  width: 100%;
  overflow: inherit;
  max-width: 1170px;
}
.padding-0 {
  padding: 0 !important;
}

.padding-47 {
  padding: 47px 0 !important;
}

.padding-100 {
  padding: 100px 0 !important;
}

.padding-110 {
  padding: 100px 0 !important;
}

.padding-140 {
  padding: 140px 0 !important;
}

.padding-200 {
  padding: 200px 0 !important;
}

.padding-top-50 {
  padding-top: 50px !important;
}

.padding-top-100 {
  padding-top: 100px !important;
}

.padding-top-110 {
  padding-top: 110px !important;
}

.padding-top-140 {
  padding-top: 140px !important;
}

.padding-top-160 {
  padding-top: 160px !important;
}

.padding-top-200 {
  padding-top: 200px !important;
}

.padding-top-300 {
  padding-top: 300px !important;
}

.padding-bottom-50 {
  padding-bottom: 50px !important;
}

.padding-bottom-100 {
  padding-bottom: 100px !important;
}

.padding-bottom-140 {
  padding-bottom: 140px !important;
}

.padding-bottom-160 {
  padding-bottom: 160px !important;
}

.padding-bottom-200 {
  padding-bottom: 200px !important;
}

.padding-bottom-300 {
  padding-bottom: 300px !important;
}


.padding-120-170 {
  padding-top: 120px !important;
  padding-bottom: 170px !important;
}

.padding-110-65 {
  padding-top: 110px !important;
  padding-bottom: 65px !important;
}

.bg-primary-color {
  background: $prCol !important;
}

.bg-white {
  background: #ffffff !important;
}

.bg-white-50 {
  background: rgba(255, 255, 255, 0.5) !important;
}

.bg-black {
  background: $bgTrCol !important;
}

.bg-transparent {
  background: transparent !important;
}

.ct-image {
  display: block;
  img {
    width: 100%;
  }
}

/* Logo Page */
.logo-page {
  margin: 0;
  top: 39px;
  left: 39px;
  z-index: 100000;
  position: fixed;
  .logo-white {
    display: block;
  }
  .logo-black {
    display: none;
  }
  a {
    display: block;
  }
  img {
    max-width: 200px;
    max-height: 200px;
  }
}


/* Title Separator */
.title-separator {
  text-align: center;
  margin-bottom: 50px;
  &.txt-white {
    .separator {
      svg {
        fill: scCol;
      }
    }
    .title {
      color: #fcfeff;

      &:after {
        background: $scCol;
      }
    }
  }

  .separator {
    margin: 0 auto;
    svg {
      fill: #ebebeb;
    }
  }
  .title {
    margin: 0;
    color: $scCol;
    padding: 4px 15px;
    position: relative;
    line-height: 1.1em;
    display: inline-block;

    &:after {
      left: 0;
      right: 0;
      bottom: 0;
      height: 40%;
      z-index: -1;
      content: " ";
      display: block;
      position: absolute;
      background: #ebebeb;
    }
  }
}


.video {
  .ct-video {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
    iframe {
      top: 0;
      left: 0;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      border: none;
      display: block;
      position: absolute;
    }
  }
}