@media (max-width: $lgScreenSizeMax) {

}

@media (max-width: $smScreenSizeMax) {
  .biography {
    .row {
      .ct-author {
        .ct-img-circle {
          max-width: 150px;
          max-height: 150px;
        }
      }
    }
  }

  .events {
    &.events-01 {
      .item-event {
        .container {
          .ct-image {
            min-height: 200px;
          }
          .ct-text {
            .ct-title {
              max-width: 450px;
              h2 {
                font-size: 45px;
              }
            }
            .ct-time {
              .date {
                font-size: 45px;
              }
            }
            .ct-button {
              right: 0;
            }
          }
        }
      }
    }
    &.events-02 {
      .item-event {
        margin-left: 0;
        margin-right: 0;
        .ct-time,
        .ct-button {
          padding-left: 0;
          padding-right: 0;
        }

        .ct-time,
        .ct-details,
        .ct-button {
          padding-top: 30px;
          padding-bottom: 30px;
        }
        .ct-details {
          .title {
            font-size: 25px;
          }
        }
        .ct-button {
          .btn {
            margin-left: 0;
          }
        }
      }
    }
  }

  .blog-page {
    .container {
      .item {
        .ct-text {
          padding: 0;
        }
      }
    }
  }

  .jp-playlist {
    .playlist-item,
    .columns-playlist-item {
      .cl-album,
      .ct-album {
        display: none;
      }
    }
    .row-playlist-item {
      .playlist-item {
        .btn-play-pause {
          .table-center {
            margin-right: 0;
          }
        }
      }
    }
  }

  .untold-main-player {
    .contain {
      .ct-right {
        .ct-name {
          .first-text {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: $xsScreenSizeMax) {
  body {
    &.remove-all {
      background: #ffffff;

      &:after,
      &:before {
        display: none;
      }

      div {
        opacity: 0;
        @include easy-transition(all 0.1s linear);
      }
    }

    &.menu-page-active,
    &.playlist-full-page {
      overflow: hidden;
    }
  }

  .container {
    padding-left: 25px;
    padding-right: 25px;
  }

  .row {
    margin-left: -25px;
    margin-right: -25px;
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1,
  .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2,
  .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3,
  .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4,
  .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5,
  .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6 {
    padding-left: 25px;
    padding-right: 25px;
  }

  h1 {font-size: 50px;}
  h2 {font-size: 30px;}
  h3 {font-size: 20px;}
  h4 {font-size: 17px;}
  h5 {font-size: 15px;}
  h6 {font-size: 14px;}

  p,
  blockquote {
    line-height: 1.4em;
  }
  .no-xs {
    display: none !important;
  }

  .top-border-page,
  .bottom-border-page {
    height: 10px;
  }
  .left-border-page,
  .right-border-page {
    width: 10px;
  }

  .title-separator {
    margin-bottom: 30px;
  }

  .logo-page {
    top: 26px;
    left: 26px;
    img {
      max-width: 100px;
      max-height: 100px;
    }
  }

  .main-music-player {
    height: auto;
  }

  .untold-main-player {
    .contain {
      .ct-left {
        height: 33px;
        display: none !important;
        .untold-seek-bar {
          height: 33px;
          &:hover {
            &:before,
            .untold-play-bar {
              top: 15px;
              height: 3px;
            }
          }
          &:before,
          .untold-play-bar {
            left: 0;
            top: 16px;
            width: 100%;
            height: 1px;
            display: block;
            position: absolute;
            @include easy-transition(all 0.1s ease-in-out);
          }
        }
      }
      .ct-right {
        width: 100%;
        .ct-name {
          width: 75%;
          right: 90px;
          height: 33px;
          overflow: hidden;
          text-align: right;
          white-space: nowrap;
          word-wrap: normal;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          span {
            display: inline;
            font-size: 14px;
            line-height: 33px;
          }
        }
        .ct-control {
          width: 33px;
          height: 33px;
          .untold-play,
          .untold-pause {
            i {
              line-height: 33px;
            }
          }
        }
        .btn-playlist {
          width: 33px;
          height: 33px;
          padding: 0 9px;
          span {
            width: 15px;
            &:nth-child(2) {
              width: 13px;
            }
          }
          &.active {
            span {
              &:first-child {
                top: 5px;
                left: 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                -o-transform: rotate(45deg);
                transform: rotate(45deg);
              }
              &:nth-child(2) {
                opacity: 0;
              }
              &:last-child {
                top: -5px;
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                -o-transform: rotate(-45deg);
                transform: rotate(-45deg);
              }
            }
          }
        }
      }
    }
  }

  .playlist-wrap {
    padding: 100px 26px;
    .container {
      padding: 0;
    }
  }

  .jp-playlist {
    .playlist-item,
    .columns-playlist-item {
      .cl-time,
      .ct-time {
        display: none;
      }
      .cl-download,
      .ct-download {
        text-align: right;
        .table-center {
          width: auto;
          max-width: 130px;
        }
      }
    }
    .row-playlist-item {
      .playlist-item {
        .btn-play-pause {
          .table-center {
            width: auto;
          }
        }
        .ct-name ,
        .ct-album,
        .ct-time {
          .table-center {
            max-width: 10em;
          }
        }
        .ct-download {
          .links-download-album {
            li {
              a {
                &.itunes,
                &.google,
                &.soundcloud {
                  &:after {
                    display: none;
                  }
                  &:before {
                    display: inline-block;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #menu-page{
    &.menu-01 {
      .button-menu-page {
        top: 26px;
        right: 26px;
      }
      .ct-menu {
        height: 100%;
        top: inherit;
        left: inherit;
        right: inherit;
        padding: 65px 0;
        overflow: hidden;
        position: relative;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        .container {
          padding: 0 26px;
          .ct-list-menu {
            width: 100%;
            height: 100%;
            text-align: left;
            > li {
              > a {
                color: $scCol;
              }
              > ul {
                > li {
                  > a {
                    color: #a8a8a8;
                  }
                }
              }
            }
            li {
              display: block;
              ul {
                left: 0;
                opacity: 1;
                height: 100%;
                right: inherit;
                position: relative;
                > li {
                  display: block;
                  ul {
                    padding: 0;
                    &:after,
                    &:before {
                      display: none;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
    &.menu-04 {
      .button-menu-page {
        top: 26px;
        right: 26px;
      }
      .ct-menu {
        height: 100%;
        top: inherit;
        left: inherit;
        right: inherit;
        padding: 65px 0;
        overflow: hidden;
        position: relative;
        -webkit-transform: translateY(0);
        transform: translateY(0);

        .ct-list-menu {
          width: 100%;
          height: 100%;
          overflow-y: auto;
          text-align: left;
          li {
            display: block;
            &.drop-down-menu {
              &.open {
                ul {
                  opacity: 1;
                  height: 100%;
                  &:after {
                    height: 100%;
                  }
                  > li {
                    display: block;
                    ul {
                      padding-left: 17px;
                      &:after,
                      &:before {
                        display: none;
                      }
                    }
                  }
                }
              }
            }
            ul {
              left: 0;
              right: inherit;
              position: relative;
              &:after,
              &:before {
                display: none !important;
              }
              > li {
                > a {
                  &:before {
                    left: 0;
                    top: 19px;
                    width: 7px;
                    height: 7px;
                    content: "";
                    position: absolute;
                    border-radius: 50%;
                    border: 1px solid #6e6e6e;
                  }
                }
                ul {
                  li {
                    a {
                      &:before {
                        top: 20px;
                        width: 5px;
                        height: 5px;
                        border: none;
                        border-radius: 0;
                        background: #6e6e6e;
                      }
                    }
                  }
                }
              }
            }
          }
        }
        .ct-widgets {
          left: 0;
          right: 0;
          bottom: 0;
          margin: 0 0 25px 0;
          position: absolute;
          background: #ffffff;
          .widget {
            .title {
              display: none;
            }
          }
        }
      }
    }
  }

  #header{
    &.header-01 {
      .content-header {
        .container{
          .ct-center {
          }
        }
      }
    }

    .content-header {
      .icon-scroll-bottom {
        .icon-first-svg {
          bottom: 35px;
        }
        .icon-second-svg {
          bottom: 15px;
        }
      }
      .container {
        .ct-center {
          .separator {
            margin-top: 25px;
          }
          .btn.btn-primary {
            margin-top: 25px;
          }
        }
      }
    }
  }

  .albums {
    .item-album-disc {
      .ct-img {
        max-width: 150px;
        max-height: 150px;
      }
    }

    .item-album-full-width {
      padding-top: 90px;
      padding-bottom: 70px;
      .container {
        .ct-image {
          max-width: 300px;
          max-height: 300px;
        }

        .ct-text {
          margin: 0 auto;
          padding: 0 15px;
          max-width: 300px;
          .title {
            text-align: center;
            margin: 30px 0 20px 0;
          }
          .tags {
            text-align: center;
          }
          .links-download-album {
            text-align: center;
          }
        }
        .ct-details {
          p {
            text-align: center;
          }
          ul {
            margin: 0 auto;
            max-width: 300px;
          }
        }
      }
    }
  }

  .events {
    &.events-01 {
      .item-event {
        overflow: hidden;
        &.bg-white {
          .container {
            .ct-text {
              .ct-location {
                p {
                  color: $scCol;
                }
              }
              .ct-time {
                .date,
                .month {
                  font-weight: 600;
                  font-size: 1.6em;
                  display: inline-block;
                }
                .month {
                  color: $scCol;
                }
              }
            }
          }
        }
        .container {
          overflow: hidden;
          .ct-image {
            top: 0;
            bottom: 0;
            left: -1000px;
            right: -1000px;
            display: block;
            min-height: 100px;
            position: absolute;
            text-align: center;
            &:before {
              display: none;
            }
            img {
              width: auto;
              height: 100%;
              opacity: 0.6;
              margin: 0 auto;
            }
          }
          .ct-text {
            padding: 50px 20px;
            position: relative;
            text-align: center;
            .ct-left,
            .ct-right {
              float: none;
              height: auto;
              display: block;
              max-width: 100%;
            }
            .ct-title {
              max-width: 100%;
              margin: 0 0 20px 0;
              h2 {
                font-size: 30px;
              }
            }
            .ct-separator {
              margin: 0 auto 20px;
            }
            .ct-time {
              margin-top: 20px;
              text-align: center;
              .date {
                font-size: 25px;
              }
            }
            .ct-button {
              bottom: inherit;
              margin: 20px 0 0 0;
              position: relative;
            }
          }
        }
      }
    }
    &.events-02 {
      padding: 30px 0;
      &.bg-black {
        &:before {
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          z-index:0;
          width: 80%;
          content: "";
          margin: 0 auto;
          max-width: 480px;
          position: absolute;
          background: transparent;
          border-left: 1px solid rgba(212, 212, 212, 0.1);
          border-right: 1px solid rgba(212, 212, 212, 0.1);
        }
        .item-event {
          position: relative;
          background: $bgScCol;
          border: 1px solid rgba(212, 212, 212, 0.1);
        }
      }
      .item-event {
        padding: 30px 0;
        overflow: hidden;
        text-align: center;
        background: #ffffff;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
        .ct-time,
        .ct-button {
          padding-left: 15px;
          padding-right: 15px;
        }
        .ct-time,
        .ct-details,
        .ct-button {
          padding: 0 0 30px 0;
        }
        .ct-time {
          .date {
            font-size: 25px;
          }
        }
        .ct-button {
          padding-bottom: 0;
        }
      }
    }
  }

  .blog-page {
    .container {
      .item {
        .ct-image {
          margin-bottom: 35px;
        }
      }
    }
  }

  .blog-post {
    .section-article {
      font-size: 14px;
    }

    .section-author {
      .container {
        .ct-author {
          .ct-image {
            float: none;
            margin: 0 auto;
            display: block;
          }

          .ct-about {
            display: block;
            text-align: center;

            .written-by {
              font-size: 1em;
            }

            .name {
              font-size: 1.2em;
            }
          }
        }

        .ct-share {
          padding: 17px 0;
          text-align: center;

          .title {
            font-size: 1em;
          }

          ul {
            li {
              text-align: center;
            }
          }
        }
      }
    }

    .section-comments {
      .title-comments {
        font-size: 18px;
      }

      .section-view-comments {
        .ct-comments {
          .comments {
            overflow: hidden;

            .image-contain {
              width: 45px;
              height: 45px;
            }

            .about {
              padding: 15px 0 0 15px;

              .name {
                span {
                  font-size: 1.2em;
                }
                .occupation {
                  font-size: 1em;
                }
              }

              .description {
                font-size: 1em;
              }

              .reply {
                top: 15px;
                font-size: 1em;
                margin-right: 0;
              }
            }
          }
        }
      }

      .section-write-comments {
        padding-top: 100px;
        padding-bottom: 100px;

        form {
          width: 100%;
          .left,
          .right {
            width: 100%;
            float: none;
          }

          .left {
            padding-right: 0;
          }

          .right {
            padding-left: 0;
          }

          .form-input,
          .form-group {
            margin-bottom: 13px;
          }
        }
      }
    }
  }

  .contact-section {
    .row {
      > div {
        margin-bottom: 65px;
        &:last-child {
          margin-bottom: 0;
          padding-top: 65px;
          &:before {
            top: 0;
            left: 0;
            right: 0;
            width: 80%;
            z-index: -1;
            content: "";
            margin: 0 auto;
            max-width: 480px;
            position: absolute;
            background: transparent;
            border-top: 1px solid #d4d4d4;
          }
        }
      }
    }
    .title-section {
      text-align: center;
    }
    .content {
      .min-list {
        text-align: center;
        > b {
          display: block;
          font-weight: 700;
          position: inherit;
          margin-bottom: 10px;
        }
        i {
          float: none;
          width: inherit;
          margin: 0 auto;
          padding-left: 0;
          text-align: center;
          display: inline-block;
        }
      }
    }
  }

  .error-page,
  .coming-soon {
    .content-page {
      .ct-center {
        .subtitle {
          .play-pause-button-parent-3 {
            display: block;
          }
        }
      }
    }
  }

  #footer {
    z-index: 1;
    position: relative;
    .row {
      position: relative;
      > div {
        position: inherit;
        margin-bottom: 70px;
      }
      .ct-position-bottom {
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        position: absolute;
        .content {
          padding-bottom: 0;
        }
      }
    }
    .widget {
      text-align: center;
      &.no-title {
        padding-top: 0;
      }
      .content {
        text-align: center;
      }
    }

    .instagram-post {
      max-height: 150px;
      ul {
        li {
          width: 150px;
          height: 150px;
          a {
            &:hover {
              &:after,
              &:before {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}






@media (max-width: 500px) {
  .untold-main-player {
    .contain {
      .ct-right {
        .ct-name {
          width: 60%;
        }
      }
    }
  }
}



@media (max-height: 600px) {
  #menu-page{
    &.menu-01 {
      .ct-menu {
        height: 100%;
        top: inherit;
        left: inherit;
        right: inherit;
        padding: 65px 0;
        overflow: hidden;
        position: relative;
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
    }
  }
}

@media (max-height: 500px) {
  .error-page,
  .coming-soon {
    .content-page {
      margin: 0;
      padding: 100px 0;
      .ct-center,
      .ct-bottom  {
        top: inherit;
        left: inherit;
        right: inherit;
        bottom: inherit;
        position: relative;
        -webkit-transform: translateY(0);
        transform: translateY(0);
      }
      .ct-bottom {
        margin-top: 50px;
      }
    }
  }
}