<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Holywood Principle</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:url" content="https://www.hollywoodprinciple.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Colors. The new E.P from Hollywood Principle" />
  <meta property="og:description" content="Click here to presave to spotify" />
  <meta property="og:image" content="https://res.cloudinary.com/dpkpxnpsp/image/upload/v1505715418/HollywoodPrincipleColors-min_irap5d.png" />
  <link href="assets/css/stylesheet.css" rel="stylesheet" type="text/css" media="all" />
  <!-- Facebook Pixel Code -->
  <script>
    ! function(f, b, e, v, n, t, s) {
      if (f.fbq) return;
      n = f.fbq = function() {
        n.callMethod ?
          n.callMethod.apply(n, arguments) : n.queue.push(arguments)
      };
      if (!f._fbq) f._fbq = n;
      n.push = n;
      n.loaded = !0;
      n.version = '2.0';
      n.queue = [];
      t = b.createElement(e);
      t.async = !0;
      t.src = v;
      s = b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t, s)
    }(window, document, 'script',
      'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '170328963529651');
    fbq('track', 'PageView');
  </script>
  <noscript><img height="1" width="1" style="display:none"
  src="https://www.facebook.com/tr?id=170328963529651&ev=PageView&noscript=1"
/></noscript>
  <!-- End Facebook Pixel Code -->

</head>

<body>
  <div class="site-bar site-bar-left"></div>
  <div class="site-bar site-bar-right"></div>

  <div class="site-bar site-bar-top">
    <div class="nav-module logo-module text-center">
      <a id="main-logo" href="/">Hollywood Principle</a>
    </div>
  </div>

  <nav class="nav--fixed nav-bar-bottom site-bar site-bar-bottom">
    <div class="nav-bar visible-xs visible-sm">
      <div class="nav-module menu-module left">
        <ul class="menu">
          <li>
            <a href="#signup">Signup</a>
          </li>
          <li>
            <a href="https://hollywood-principle.myshopify.com/">Store</a>
          </li>
          <li>
            <a href="https://open.spotify.com/artist/6ldZGvFDjs6KafLouTBHJ9">
                                    <i class="socicon-spotify"></i> Spotify
                                </a>
          </li>
          <li>
            <a href="https://www.facebook.com/hollywoodprinciple/">
                                    <i class="socicon-facebook"></i> Facebook
                                </a>
          </li>
          <li>
            <a href="https://itunes.apple.com/us/artist/hollywood-principle/id949969985">
                                    <i class="socicon-itunes"></i> iTunes
                                </a>
          </li>
          <li>
            <a href="https://soundcloud.com/hollywood_principle">
                                    <i class="socicon-soundcloud"></i> Soundcloud
                                </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UC1tLItnjulEC6hyeAnc-D5Q/videos?view_as=subscriber">
                                    <i class="socicon-youtube"></i> Youtube
                                </a>
          </li>
          <li>
            <a href="https://www.instagram.com/hollywoodprinciple/?hl=en">
                                    <i class="socicon-instagram"></i> Instagram
                                </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="nav-bar hidden-xs hidden-sm">
      <div class="nav-module menu-module left">
        <ul class="menu">
          <li>
            <a href="#signup">Signup</a>
          </li>
          <li>
            <a href="https://hollywood-principle.myshopify.com/" target="_blank">Store</a>
          </li>
        </ul>
      </div>
      <div class="nav-module menu-module right">
        <ul class="menu">
          <li>
            <a href="https://open.spotify.com/artist/6ldZGvFDjs6KafLouTBHJ9">
                                    <i class="socicon-spotify"></i>
                                </a>
          </li>
          <li>
            <a href="https://www.facebook.com/hollywoodprinciple/">
                                    <i class="socicon-facebook"></i>
                                </a>
          </li>
          <li>
            <a href="https://itunes.apple.com/us/artist/hollywood-principle/id949969985">
                                    <i class="socicon-itunes"></i>
                                </a>
          </li>
          <li>
            <a href="https://soundcloud.com/hollywood_principle">
                                    <i class="socicon-soundcloud"></i>
                                </a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UC1tLItnjulEC6hyeAnc-D5Q/videos?view_as=subscriber">
                                    <i class="socicon-youtube"></i>
                                </a>
          </li>
          <li>
            <a href="https://www.instagram.com/hollywoodprinciple/?hl=en">
                                    <i class="socicon-instagram"></i>
                                </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="nav-mobile-toggle visible-sm visible-xs">
      <i class="icon-Align-JustifyAll icon icon--sm"></i>
    </div>
  </nav>
  </div>

  <div class="main-container">

    {% include main.html %} {% include signup.html %}

  </div>

  <script src="assets/scripts/jquery-2.1.4.min.js"></script>
  <script src="assets/scripts/scripts.js"></script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-57422058-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments)
    };
    gtag('js', new Date());

    gtag('config', 'UA-57422058-1');
  </script>

</body>

</html>