<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>Hollywood Principle</title>
  <link rel="icon" href="assets/images/logo/icon.png">
  {% include styles.html %}
</head>
<body class="home content-black">
  {% include loading.html %}

  {% include header.html %}

  {% include menu.html %}

  {% include albums1.html %}

  {% include store.html %}

  {% include prepurchase.html %}

  {% include biography.html %}

  {% include team.html %}

  {% include gallery.html %}

  {% include follow.html %}

  {% include musicplayer.html %}

  {% include footer.html %}

  {% include scripts.html %}

</body>
</html>
